{% set pageTitle = 'Fort:Lox | contact' %}
{% set pageData = craft.entries.section('contact').one() %}
{% extends '_base' %}

{% block body %}

<section class="contact">

    <div class="wrapper">
        <div class="first-section">
            <div class="title-container typewriter-js" data-aos="fade-up">
                <h2>Contact /</h2>
            </div>

            <div class="content-container" data-aos="fade-up">
                <div class="text-container">
                    <div class="main-tel-container">
                        <a href="tel:{{pageData.hoofdTelefoonnummer}}">{{pageData.hoofdTelefoonnummer}}</a>
                    </div>
                    <div class="mail-container">
                        <a href="mailto:{{pageData.emailAdres}}">{{pageData.emailAdres}}</a>
                    </div>
                    <span>-</span>
                    <div class="extra-numbers-container">
                        {% for extraNumber in pageData.extraphones.all() %}
                        <div class="extra-number">
                            <p>{{extraNumber.telefoonTitel}}</p>
                            <a href="tel:{{extraNumber.extraTelefoonnummer}}">{{extraNumber.extraTelefoonnummer}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% set downloads = pageData.contactDownloads.all() %}
        {% set style = 'light' %}
        {% include '/_layouts/downloads' %}

    </div>

</section>

{% endblock %}