{% set pageData = craft.entries.section('home').one() %}
{% set diensten = craft.entries.section('diensten').all() %}
{% set verhalen = craft.entries.section('verhalen') %}
{% set events = craft.entries.section('opleidingenEvents').limit(2) %}
{% set partners = craft.entries.section('partners').all() %}

{% set pageTitle = 'Fort:Lox | Specialist in IT Security' %}

{% extends '_base' %}

{% block body %}
<div class="wrapper hero-wrapper">
    <div class="hero">
        <div class="hero-text-container typewriter-js">
            {{ pageData.heroTitle }}
        </div>

        <div class="menu-link-container">
            {% include '_components/menu-link.twig' %}
        </div>
        <div class="bottom-bar">
            <div class="logo-container">
                <img src="/assets/img/fort-lox-logo.svg" alt="Fort Lox">
            </div>

            <div class="btn-positioner">
                {% set text = 'contact / ' ~ pageData.heroPhone %}
                {% set url = 'tel:' ~ pageData.heroPhone %}
                {% include '_components/button' %}
            </div>

        </div>
    </div>
</div>

<div class="hero-spacer"></div>

<main class="home-main">

    {% include '_layouts/main-navigation-bar' %}

    <div class="wrapper">
            <div class="mobile-hero-text-container typewriter-js">
            {{ pageData.heroTitle }}
        </div>
        <div class="spacer-height-110"></div>
        <section class="home-intro">

            <div class="left-container">
                <div class="title-container typewriter-js" data-aos="fade-up">
                    <h1>{{ pageData.introTitle }}</h1>
                </div>
                <div class="text-container" data-aos="fade-up">
                    {{pageData.introtext}}
                    {% set text = 'Lees meer >' %}
                    {% set url = '/over'%}
                    {% include '_components/link'%}
                </div>
            </div>

            <div class="image-container" data-aos="fade-up">
                <img src="{{pageData.introAfbeelding.one().getUrl('homeIntro')}}"
                    alt="{{pageData.introAfbeelding.one().alt}}">
            </div>

        </section>
    </div>

    <div class="home-video-container">
        <div class="wrapper">
            <div class="home-video-container-inner">
                <video controls poster="/assets/img/video-poster.jpg">
                    <source src="/assets/video/meeroverfortlox-v2.webm" type="video/webm">
                    <source src="/assets/video/meeroverfortlox-v2.mp4" type="video/mp4">
                    <source src="/assets/video/meeroverfortlox-v2.ogv" type="video/ogv">
                </video>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div id="aanbod"></div><!-- no purpose, strictly anchor point for aanbod link -->
        <section class="home-diensten">
            <h2 class="hidden">Diensten</h2>
            <div class="diensten-container">
                {% set count  = 1 %}
                {% for dienst in diensten %}
                {% set dienstUrl = dienst.url %}
                {% set title = dienst.dienstTitle %}
                {% set text = dienst.dienstIntro %}
                {% set url = dienstUrl %}
                {% include '_components/home-dienst' %}
                {% set count = count + 1 %}
                {% endfor %}
            </div>
        </section>

    </div>


    {# <section class="home-team" data-aos="fade-up">
        <div class="inner-wrapper">
            <div class="image-container">
                <img src="/assets/img/M_FortLox-50.jpg" alt="Team">
            </div>

            <div class="content-container">
                <div class="title-container">
                    <h2>Maak deel uit van ons team</h2>
                </div>

                <div class="text-container">
                    <p>Wil je mee bouwen aan een sterk en veilig IT-fort voor onze klanten? Bekijk dan onze huidige
                        vacatures.</p>
                </div>

                {% set text = 'ontdek onze vacatures' %}
                {% set url = '/jobs' %}
                {% include '_components/button' %}

            </div>
        </div>
    </section> #}

    <div class="wrapper">
        <section class="home-verhaal-in-de-kijker">
            <div class="content-container">
                <div class="section-title-container typewriter-js" data-aos="fade-up">
                    <h2>Verhalen /</h2>
                </div>
                <a href="/verhalen">
                    <article class="verhaal">
                        <div class="image-container mobile-image" data-aos="fade-up">
                            <img src="{{pageData.verhaalInDeKijker.one().hoofdafbeelding.one().getUrl('homeVerhaalThumbnail')}}"
                                alt="{{pageData.verhaalInDeKijker.one().hoofdafbeelding.one().alt}}">
                        </div>
                        <div class="title-container" data-aos="fade-up">
                            <h3>{{pageData.verhaalInDeKijker.one().title}}</h3>
                        </div>
                        <div class="text-container" data-aos="fade-up">
                            {{pageData.verhaalInDeKijker.one().verhaalIntro}}
                        </div>
                        <div class="btn-positioner" data-aos="fade-up">
                            <div class="first-btn">
                                {% set text = 'Lees het verhaal >' %}
                                {% set url = pageData.verhaalInDeKijker.one().url %}
                                {% include '_components/link'%}
                            </div>
                            {% set text = 'Bekijk alle verhalen >' %}
                            {% set url = '/verhalen'%}
                            {% include '_components/link'%}
                        </div>
                    </article>
                </a>
            </div>
            <a href="/verhalen">
            <div class="image-container desktop-image" data-aos="fade-up">
                <img src="{{pageData.verhaalInDeKijker.one().hoofdafbeelding.one().getUrl('homeVerhaalInDeKijker')}}"
                    alt="{{pageData.verhaalInDeKijker.one().hoofdafbeelding.one().alt}}">
            </div>
            </a>

        </section>
    </div>

    {% if pageData.toonMeerVerhalen %}
    <section class="home-meer-verhalen">
        <div class="meer-verhalen-wrapper">
            <div class="section-title-container" data-aos="fade-up">
                <h2>Lees meer verhalen</h2>
            </div>

            <div class="verhalen-container" data-aos="fade-up">
                <div class="verhalen-owl owl-carousel">
                    {% for verhaal in verhalen.all() %}
                    {% set title = verhaal.title %}
                    {% set text = verhaal.verhaalIntro %}
                    {% set url = verhaal.url %}
                    {% set imageUrl = verhaal.hoofdafbeelding.one().getUrl('homeVerhaalThumbnail') %}
                    {% include '/_components/lees-meer-verhalen-verhaal' %}
                    {% endfor %}
                </div>

            </div>

        </div>
        <div class="verhalen-owl-custom-navigation-container" data-aos="fade-up">
            <div class="wrapper">
                <div class="owl-nav" id="verhalen-owl-nav" data-aos="fade-up">
                </div>
                <div class="btn-positioner" data-aos="fade-up">
                    {% set text = 'bekijk alle verhalen' %}
                    {% set url = '/verhalen'%}
                    {% include '_components/button'%}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

        <section class="home-team" data-aos="fade-up">
        <div class="inner-wrapper">
            <div class="image-container">
                <img src="/assets/img/_RM39137.jpg" alt="Team">
            </div>

            <div class="content-container">
                <div class="title-container">
                    <h2>Maak deel uit van ons team</h2>
                </div>

                <div class="text-container">
                    <p>Wil je mee bouwen aan een sterk en veilig IT-fort voor onze klanten? Bekijk dan onze huidige
                        vacatures.</p>
                </div>

                {% set text = 'ontdek onze vacatures' %}
                {% set url = '/jobs' %}
                {% include '_components/button' %}

            </div>
        </div>
    </section>


    <section class="home-events">
        <div class="wrapper">
            <div class="content-container">
                <div class="section-title-container typewriter-js" data-aos="fade-up">
                    <h2>Opleidingen _ <br />&amp; events /</h2>
                </div>
                <div class="text-container" data-aos="fade-up">
                    {{pageData.opleidingEventsIntro}}
                </div>
            </div>

            <div class="events-container">

                {% for event in events.all() %}
                    {% if event.datum is not empty %}
                        {% set date = event.datum|date('d.m.Y') %}
                    {% else %}
                        {% set date = '' %}
                    {% endif %}
                    {% set title = event.title %}
                    {% set text = event.opleidingEventIntro %}
                    {% set url = event.schrijfInLink %}
                    {% include '/_components/home-event'%}
                {% endfor %}

                {% set text = 'Bekijk de agenda' %}
                {% set url = '/opleidingen-en-events' %}
                {% set style = 'white' %}
                {% include '_components/button' %}

            </div>
        </div>
    </section>


    <section class="home-partners" data-aos="fade-up">

        <div class="section-title-container">
            <h2>Partners</h2>
        </div>


        <div class="wrapper">
            <div class="owl-1 owl-carousel partner-slider">
                {% for partner in partners %}
                <div class="partner-logo"> <img src="{{partner.partnerLogo.one().url}}" alt="{{partner.title}}"></div>
                {% endfor %}
            </div>
        </div>

        <div id="partners-owl-custom-controls"></div>
    </section>

</main>
{% endblock %}