{% set pageData =  craft.entries.section('jobs').one() %}
{% set jobs = craft.entries.section('vacatures').all() %}

{% set pageTitle = 'Fort:Lox | Jobs' %}

{% extends '_base' %}

{% block body %}

<section class="jobs-intro">
    <div class="wrapper">

        <div class="title-container typewriter-js" data-aos="fade-up">
            <h2>Openstaande <br /> Vacatures /</h2>
        </div>

        <div class="text-container" data-aos="fade-up">
            <p>{{pageData.jobsOverzichtOmschrijving}}</p>
        </div>
    </div>


</section>

<section class="jobs-grid">
    <div class="wrapper">

        <h2 class="hidden">Alle events</h2>
        {% set count = 0 %}

        {% for job in jobs %}

        {% if count == 0 %}
        <div class="row">
            {% endif %}

            <article class="job" data-aos="fade-up">
                <div class="title-container">
                    <h3>{{job.title}}</h3>
                </div>
                <div class="text-container">
                    {{job.korteOmschrijving}}
                </div>

                {% if job.mailLink %}
                {% set text = 'Mail ons >' %}
                {% set url = '/contact' %}
                {% else %}
                {% set text = 'Lees meer >' %}
                {% set url = job.url %}
                {% endif %}
                {% include '_components/link'%}

            </article>
            {% set count = count + 1 %}
            {% if count == 2 or loop.last %}
        </div><!-- end of .row -->
        {% set count = 0 %}
        {% endif %}
        {% endfor %}

    </div>
</section>

{% include '/_layouts/samenwerking-cta' %}

{% endblock %}