{% set events = craft.entries.section('opleidingenEvents').all() %}
{% set pageData = craft.entries.section('opleidingenEventsOverzicht').one()%}
{% set pageTitle = 'Fort:Lox | Opleidingen & Events' %}

{% extends '_base' %}

{% block body %}

<section class="events-intro dark-section">
    <div class="wrapper">

        <div class="title-container typewriter-js" data-aos="fade-up">
            <h2>Opleidingen <br />&amp; Events /</h2>
        </div>

        <div class="text-container" data-aos="fade-up">
            <p>{{pageData.eventsOmschrijving}}</p>
        </div>
    </div>


</section>

<section class="event-grid dark-section">
    <div class="wrapper">

        <h2 class="hidden">Alle events</h2>
            {% set count = 0 %}

            {% for event in events %}

                {% if count == 0 %}
                    <div class="row">
                {% endif %}

                <article class="event" data-aos="fade-up">
                {% if event.datum is not empty %}
                    <div class="date-container">
                        <p>{{event.datum|date('d.m.Y')}}</p>
                        <span>-</span>
                    </div>
                    {% endif %}
                    <div class="title-container">
                        <h3>{{event.title}}</h3>
                    </div>
                    <div class="text-container">
                        {{event.opleidingEventIntro}}
                    </div>

                    {% if event.schrijfInLink is not empty %}
                    {% set text = 'Schrijf je in >' %}
                    {% set url = event.schrijfInLink %}
                    {% set newPage = true %}
                    {% set style = 'white' %}
                    {% include '_components/link'%}
                    {% endif %}

                </article>
                {% set count = count + 1 %}
                {% if count == 2 or loop.last %}
                    </div><!-- end of .row -->
                    {% set count = 0 %}
                {% endif %}
            {% endfor %}

    </div>
</section>

{% include '/_layouts/samenwerking-cta' %}


{% endblock %}