{% set pageTitle = 'Fort:Lox | Over' %}
{% set pageData = craft.entries.section('over').one() %}
{% extends '_base' %}

{% block body %}

<main class="over">

    <div class="wrapper">
        <div class="over-intro typewriter-js" data-aos="fade-up">
            <h1>{{pageData.overIntroTitle}}</h1>
        </div>

        <section class="over-selling-points">
            <h3 class="hidden">Selling points</h3>
            {% for textBlock in pageData.textblocks.all() %}


            <article class="point"  data-aos="fade-up">
                <div class="title-container">
                    <h2>{{textBlock.titel}}</h2>
                </div>

                <div class="text-container">
                    {{textBlock.tekst}}
                </div>
            </article>


            {% endfor %}

        </section>

        <section class="over-fort-lox">
            <div class="title-container typewriter-js"  data-aos="fade-up">
                <h2>Over Fort:Lox</h2>
            </div>

            <div class="first-section">
                <div class="content-container">
                    <div class="title-container" data-aos="fade-up">
                        {{pageData.eersteParagraafTitel}}
                    </div>
                    <div class="text-container" data-aos="fade-up">
                        {{pageData.eersteParagraaf}}
                    </div>
                </div>

                <div class="image-container" data-aos="fade-up">
                    <img src="{{pageData.eersteAfbeelding.one().url}}" alt="{{pageData.eersteAfbeelding.one().alt}}">
                </div>
            </div>
        </section>
    </div>
    <section class="over-sterke-expertise">

        <div class="wrapper">

            <div class="images-container" data-aos="fade-up">
                {% for afbeelding in pageData.afbeeldingen.all() %}
                <div class="image-container image-horizontal">
                    <img src="{{afbeelding.url}}" alt="">
                </div>
                {% endfor %}

            </div>

            <div class="content-container">
                {% for textblock in pageData.textBlocks2.all() %}
                <div class="text-block">
                    <div class="title-container" data-aos="fade-up">
                        <h2>{{textblock.titel}}</h2>
                    </div>
                    <div class="text-container" data-aos="fade-up">
                        {{textblock.tekst}}
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </section>

    <section class="over-visie-missie">

        <div class="wrapper">

            {% for iconBlock in pageData.iconblok.all() %}
                        <article>

                <div class="icon-container" data-aos="fade-up">
                    <img src="{{iconBlock.icon.one().url}}" alt="{{iconBlock.icon.one().alt}}">
                </div>

                <div class="title-container" data-aos="fade-up">
                    <h3>{{iconBlock.titel}}</h3>
                </div>

                <div class="text-container" data-aos="fade-up">
                    <p>{{iconBlock.tekst}} </p>
                </div>

            </article>
            {% endfor %}

        </div>

    </section>


    {% include '_layouts/samenwerking-cta.twig' %}

</main>

{% endblock %}