{% set pageData = craft.entries.section('partnersOverzicht').one() %}
{% extends '_base' %}

{% block body %}
    <div class="wrapper">
    <section class="partners-intro">
    
                <div class="title-container typewriter-js" data-aos="fade-up">
            <h2>Partners /</h2>
        </div>

        <div class="text-container" data-aos="fade-up">
            <p>{{pageData.partnersOmschrijving}}</p>
        </div>
    
    </section>
    <section class="partners-grid">
    
         <div class="partners-container">
            {% set count = 0 %}
            {% set rowDivOpened = false %}
            {% for partner in craft.entries.section('partners').all() %}
                {% if count == 0 and not rowDivOpened %}
                    <div class="row">
                    {% set rowDivOpened = true %}
                {% endif %}
                
                    {% set title = partner.title %}
                    {% set logo = partner.partnerLogo.one() %}
                    {% set text = partner.omschrijving %}
                    {% set url = partner.logoUrl %}
                    {% set title = partner.title %}
                    {% if partner.linkTekstOverride is empty %}
                        {% set urlText = 'Bezoek website >' %}
                    {% else %}
                        {% set urlText = partner.linkTekstOverride ~ ' >' %}
                    {% endif %}
                    {% include '_components/partner-block.twig' %}
                    {% set count = count + 1 %}

                {% if count == 2 or loop.last %}
                    </div><!-- end of row -->
                    {% set rowDivOpened = false %}
                    {% set count = 0 %}
                {% endif %}
            {% endfor %}

        </div>
    
    </section>
    </div>

    {% include '/_layouts/samenwerking-cta' %}

{% endblock %}