{% set verhalen  = craft.entries.section('verhalen') %}

{% set pageTitle = 'Fort:Lox | Verhalen' %}

{% extends '_base.twig' %}

{% block body %}

{% set latestStory = verhalen.one() %}
<div class="latest-story-wrapper">
    <section class="latest-story">
        <a href="{{latestStory.url}}">
            <div class="image-container">
                    <img src="{{latestStory.hoofdafbeelding.one().getUrl('verhalenLatestThumbnail')}}"
                        alt="{{latestStory.hoofdafbeelding.one().alt}}" class="desktop">
                    <img src="{{latestStory.hoofdafbeelding.one().getUrl('homeVerhaalInDeKijker')}}"
                        alt="{{latestStory.hoofdafbeelding.one().alt}}" class="mobile">
            </div>

            <div class="content-container">
                <div class="title-container" data-aos="fade-left">
                    <h2>{{latestStory.title}}</h2>
                </div>

                <div class="text-container" data-aos="fade-left">
                    {{latestStory.verhaalIntro}}
                </div>
                <div data-aos="fade-left">
                    {% set text = 'Lees het verhaal >' %}
                    {% set url = latestStory.url %}
                    {% include '_components/link'%}
                </div>
            </div>
        </a>

    </section>
</div>

<div class="line"></div>

<div class="wrapper">

    <section class="verhalen-grid">
        <h2 class="hidden">Meer verhalen</h2>

        {% set count = 0 %}
        {% for verhaal in verhalen|slice(1) %}
        {% if count == 0 %}
        <div class="row">
            {% endif %}
            <article class="verhaal" data-aos="fade-up">
                <a href="{{verhaal.url}}">
                    <div class="image-container">
                        <img src="{{verhaal.hoofdafbeelding.one().getUrl('verhalenLatestThumbnail')}}" alt="">
                    </div>
                    <div class="title-container">
                        <h3>{{verhaal.title}}</h3>
                    </div>
                    <div class="text-container">
                        {{verhaal.verhaalIntro}}
                    </div>
                    {% set text = 'Lees het verhaal >' %}
                    {% set url = verhaal.url %}
                    {% include '_components/link'%}
                </a>
            </article>
            {% set count = count + 1 %}
            {% if count == 2 or loop.last %}
        </div><!-- end of .row -->
        {% set count = 0 %}
        {% endif %}
        {% endfor %}
    </section>

</div>

<div class="line"></div>
{# 
<div class="laad-meer-verhalen-btn-positioner" data-aos="fade-up">
                    {% set text = 'Laad meer verhalen' %}
                    {% set url = '/verhalen'%}
                    {% include '_components/button'%}
</div> #}

{% include '/_layouts/samenwerking-cta' %}

{% endblock %}