.wrapper {
    width: 90%;
    max-width: 160rem;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.full-screen-wrapper {
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}

.hidden {
    display: none;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.ibm-plex-sans {
    font-family: ibm-plex-sans, sans-serif;
}

.ibm-plex-mono {
    font-family: ibm-plex-mono, sans-serif;
}

.btn-container {
    background: #000000;
    display: inline-block;
    padding: .7rem 1rem 1rem 1rem;
    white-space: nowrap;
    border: .1rem solid transparent;
    transition: all 250ms ease-out;

    a,
    a:link,
    a:visited {
        @extend .ibm-plex-mono;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    a:hover {
        color: #000000;
    }

    &:hover {
        background: transparent;
        border-color: #000000;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #000000;
        }
    }
}

.btn-container--white {
    background: #ffffff;
    a,
    a:link,
    a:visited {
        color: #000000;
    }

    &:hover {
        background: transparent;
        border-color: #ffffff;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #ffffff;
        }
    }

}

.dark-section {
    background: #000000;
    color: #ffffff;
}

.spacer-height-110 {
    height: 11rem;
}

.link-container {
    display: inline-block;
    a,
    a:link,
    a:visited,
    p {
        color: #000000;
        font-size: 1.5rem;
        @extend .ibm-plex-mono;
        font-weight: 300;
        text-decoration: none;
        border-bottom: .1rem solid #000000;
        padding-bottom: .5rem;
    }


    &:hover {
        a,
        a:link,
        a:visited {
            color: #000000;
            // text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.link-container--white {
    a,
    a:link,
    a:visited,
    p {
        color: #ffffff;
        border-bottom-color: #ffffff;
    }

    &:hover {
        a,
        a:link,
        a:visited {
            color: #ffffff;
        }
    }
}

.title-81 {
    font-size: 8.1rem;
    line-height: 8.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.body-text {
    font-size: 1.5rem;
    line-height: 2.8rem;
}

.line {
    width: 100%;
    height: .1rem;
    background: $color-borders;
}
