@media only screen and (max-width: 1780px) { /* From here the wrapper actualy scales with the screen */

    .home-intro {
        .left-container {
            position: static;

            .text-container {
                width: 30%;
            }
        }

        .image-container {
            margin-left: $column-2;

            img {
                width: calc(100% + 5vw);
            }
        }
    }

    .home-verhaal-in-de-kijker {
        .image-container {
            img {
                width: calc(100% + 5vw);
            }
        }
    }

    .home-meer-verhalen {
        .section-title-container {
                transform: translateX(-1.2vw);
        }
    }

    .over-intro {
        font-size: 7.5vw;
        line-height: 7vw;
    }

    .over-fort-lox .first-section {
        .image-container {
            img {
                width: calc(100% + 5vw);
            }
        }
    }

    .over-sterke-expertise {
        .images-container {
            .image-container:nth-child(odd) {
                width: calc(100% + 5vw);
                transform: translateX(-5vw);
            }
        }
    }

    .dienst-services {
        .type-container {
            height: 18vw;
            .title-container {
                width: 60%;
            }
        }
    }

    .latest-story {
        .content-container {
            padding-right: 5vw;
        }
    }

    .verhaal-slider {
        width: $column-10;
        margin-left: $column-2;
    }

}

@media only screen and (max-width: 1610px) {

    .home-intro {
        .left-container {
            .title-container  {
                width: 70%;
            }
        }
    }

    .verhaal-terug-overzicht-container {
    
        .btn-positioner {
            width: calc(100% - 16.666% - 80px - 5%);
        }
    
    }

}

@media only screen and (max-width: 1565px) {
    footer {
        .second-section {
            .adres-section {
                #map {
                    height: 24rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {

    .home-intro {
        .left-container {
            .title-container  {
                width: 80%;
            }

            .text-container {
                width: 40%;
            }
        }
    }

    .over-selling-points .point {
        width: $column-5;
        margin-left: $column-6;
        margin-bottom: 5rem;
    }

    .dienst-intro {
        .title-container {
            font-size: 12.8vw;
            line-height: 13.3vw;
        }
    }

}

@media only screen and (max-width: 1250px) {

    .home-intro {
        .left-container {
            vertical-align: middle;
            .title-container {
                width: 70%;
            }

            .text-container {
                position: static;
                width: $column-11;
                margin-top: 5rem;
            }
        }

        .image-container {
            vertical-align: middle;
        }
    }

    .title-81 {
        font-size: 7.1rem;
        line-height: 7.2rem;
    }

    .home-diensten {
        .dienst {
            min-height: 124px;
            .title-container {
                font-size: 10.2rem;
                line-height: 10.4rem;
            }

            .count {
                margin-top: 1.6rem;
            }
        }
    }

    .latest-story {
        .image-container {
            width: $column-6;
        }

        .content-container {
            width: $column-5;
            padding-bottom: 5rem;
        }
    }

    .verhaal-intro {
        .text-container {
            margin-left: $column-6;
            width: $column-6;
        }
    }

    .verhaal-body {
        .content-container {
            width: $column-6;
            margin-left: $column-1;
            margin-bottom: 5rem;
        }
    }

    .events-intro {
        .text-container {
            width: $column-6;
            margin-left: $column-6;
        }
    }

    .events-intro {
        .text-container {
            width: $column-6;
            margin-left: $column-6;
        }
    }

    .event-grid {
        .event {
            width: $column-6;
            
            &:nth-child(odd) {
                margin-left: 0;
            }
        }
    }

    .jobs-intro {
        .text-container {
            width: $column-6;
            margin-left: $column-6;
        }
    }

    .jobs-intro {
        .text-container {
            width: $column-6;
            margin-left: $column-6;
        }
    }

    .jobs-grid {
        .job {
            width: $column-6;
            
            &:nth-child(odd) {
                margin-left: 0;
            }
        }
    }

    .vacature-intro {
        .title-container {
            width: $column-6;
        }

        .text-container {
            width: $column-8;
            margin-left: $column-4;
        }
    }

    .vacature-body {
        width: $column-8;
        margin-left: $column-4;
    }

    .dienst-intro {
        .content-container {
            .text-container {
                width: $column-5;
            }
        }
    }

    .downloads {
        .download {
            width: $column-5;
        }
    }

    .legal-page {
        .title-section {
            width: $column-4;
        }
    
        .content-container {
            width: $column-6;
            margin-left: $column-6;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .hero {
        .hero-text-container {
            font-size: 10vw;
            line-height: 9vw;
        }
    }

    .home-meer-verhalen .section-title-container {
        transform: translateX(-2vw);
    }

    .nav-slide-out-container {
        width: 50%;
    }

    .over-fort-lox {
        .first-section {
            .content-container {
                width: $column-5;
                margin-left: 0;
                vertical-align: middle;
            }

            .image-container {
                vertical-align: middle;
            }

            .title-container {
                font-size: 2rem;
                line-height: 2.4rem;
                margin-bottom: 2rem;
            }
        }
    }

    .contact {
        .first-section {
            .content-container {
                margin-left: $column-1;
                width: $column-6;
            }
        }

        .downloads {
            .download {
                width: $column-6;
                margin-left: $column-6;
            }
        }
    }

}

@media only screen and (max-width: 1100px) {

    .home-intro {
        .left-container {
            vertical-align: middle;
            .title-container {
                width: 100%;
            }

            .text-container {
                position: static;
                width: $column-11;
                margin-top: 5rem;
            }
        }

        .image-container {
            vertical-align: middle;
        }
    }

    .main-navigation-bar {
        .navigation-container {
            display: none;
        }

        .menu-link-container {
            width: calc(100% - 290px);
        }
    }

    .over-selling-points .point {
        width: $column-6;
        margin-left: $column-5;
        margin-bottom: 5rem;
    }

    .over-sterke-expertise {

        .content-container {
            width: $column-5;
        }
    }

    .over-visie-missie {

        .wrapper {
            width: 100%;
        }

        article {
            width: $column-12;
            display: block;
            margin-left: 0;
            padding-left: 10%;
            padding-right: 10%;

            &:first-child {
                width: $column-12;
                border-right: 0;
                border-bottom: .1rem solid $color-borders;
                padding-left: 10%;
                padding-right: 10%;
                text-align: left;
            }
        }
    }

    footer {
        .first-section {

            .wrapper {
                width: 100%;
            }

            .logo-container {
                width: $column-6;
                text-align: center;
                padding-top: 10rem;
                padding-bottom: 9rem;
                img {
                    max-height: 60px;
                    width: 100%;
                }
            }

            .info-container {
                width: $column-6;
                border-right: none;
                text-align: center;
                padding-top: 10rem;
                padding-bottom: 9rem;
                border-left: .1rem solid $color-borders;
            }

            .nav-container {
                display: block;
                width: 100%;
                margin-left: 0;
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 10rem;
                padding-bottom: 9rem;
                border-top: .1rem solid $color-borders;
            }
        }

        .newsletter-section {
            padding: 9rem 0;

            .wrapper {
                width: 100%;
            }

            .content-container {
                display: block;
                width: $column-12;
                text-align: center;
                padding: 0;

                .text-container {
                    margin-left: 0;
                }
            }

            .form-container {
                display: block;
                width: $column-12;  
                padding-top: 5rem;
                form {
                    width: 70%;
                }
                .message-container {
                    text-align: center;
                }
            }
        }

        .second-section {
            .wrapper {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
            }
            .contact-section {
                display: block;
                width: 100%;
            }

            .adres-section {
                width: 100%;
                border-right: 0;
                text-align: center;
                border-top: .1rem solid $color-borders;
                padding-bottom: 0;

                #map {
                    position: relative;
                    width: 100%;
                }
            }
        }
    }

    .latest-story {
        .image-container {

            .mobile {
                display: block;
            }

            .desktop {
                display: none;
            }

        }
    }

    .verhaal-slider {
        width: $column-11;
        margin-left: $column-1;
    }

    #verhaal-images-owl-nav {
        margin-left: $column-1
    }

    .partners-grid {

        .row {
            border: none;
            padding: 0;
        }

        .partner-positioner {
            width: $column-12;
            display: block;
            padding: 6.5rem 0;
        }
    }

}

@media only screen and (max-width: 1000px) {

    .title-81 {
        font-size: 4.1rem;
        line-height: 4.2rem;
    }

    .home-intro {
        .left-container {
            width: $column-7;
            .text-container {
                margin-left: 0;
                width: 100%;
            }
        }

        .image-container {
            margin-left: $column-1;
        }
    }

    .home-verhaal-in-de-kijker {

        .content-container {
            vertical-align: bottom;
            width: $column-7;
            margin-right: $column-1;
        }

        .image-container {
            vertical-align: bottom;
            width: $column-4;
        }

        .verhaal {
            position: static;
            width: 100%;
            margin-top: 10rem;
        }
    }

    .home-meer-verhalen .section-title-container {
        transform: translateX(-4vw);
    }

    .nav-slide-out-container {
        width: 40%;

        a,
        a:link,
        a:visited {
            font-size: 3rem;
            line-height: 4rem;
        }
    }

    .over-fort-lox {
        .title-container {
            margin-bottom: 5rem;
        }

        .first-section {
            .content-container {
                display: block;
                width: $column-10;
                margin-left: $column-1;
            }

            .image-container {
                display: block;
                margin-left: $column-1;
                width: $column-10;
                margin-top: 5rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    .over-sterke-expertise {
        .images-container {
            vertical-align: top;
            margin-top: 6rem;

            .image-container {
                &:nth-child(even) {
                    width: 70%;
                }
            }
        }

        .content-container {
            vertical-align: top;
            margin-top: 6rem;
        }
    }

    .dienst-intro {
        .content-container {
            .text-container {
                width: $column-7;
            }

            .icon-container {
                margin-left: $column-3;
            }
        }

    }

    .downloads {
        .download {
            width: $column-7;
        }
    }

    .dienst-services {
        .type-container {
            height: 16vw;
            .title-container {
                width: 80%;
                font-size: 1.6rem;
                line-height: 1.9rem;
            }
        }
    }

    .contact {
        .first-section {
            .content-container {
                margin-left: 0;
                width: $column-12;
                display: block;
                margin-top: 2rem;
            }
        }

        .downloads {
            .download {
                width: $column-6;
                margin-left: 0;
            }
        }
    }

    .service-intro {
        .icon-container {
            img {
                width: 75%;
            }
        }

        .text-container {
            width: $column-6;
            margin-left: $column-6;
        }
    }

    .service-downloads {
        .downloads {

            .title-container {
                margin-left: $column-6;
                width: $column-6;
            }

            .download {
                margin-left: $column-6;
                width: $column-6;
            }
        }
    }

    .verhaal-intro {
        .text-container {
            margin-left: $column-1;
            width: $column-10;
            margin-top: 5rem;
        }
    }

    .verhaal-body {
        white-space: normal;
        .image-container {
            margin-left: $column-1;
            width: $column-10;
            display: block;
            img {
                transform: none;
            }
        }

        .content-container {
            margin-left: $column-1;
            width: $column-10;
            display: block;
            margin-top: 5rem;
        }
    }

    .events-intro {
        .text-container {
            width: $column-8;
            margin-left: $column-4;
        }
    }

    .jobs-intro {
        .text-container {
            width: $column-8;
            margin-left: $column-4;
        }
    }

    .vacature-intro {

        .text-container {
            width: $column-10;
            margin-left: $column-2;
        }
    }

    .vacature-body {
        width: $column-10;
        margin-left: $column-2;
    }


    .legal-page {
        .title-section {
            width: $column-6;
        }
    
        .content-container {
            width: $column-10;
            margin-left: $column-2;
        }
    }

}

@media only screen and (max-width: 900px) {

    .home-diensten {
        margin-top: 17rem;
        margin-bottom: 17rem;
        .dienst {
            margin-bottom: 5rem;
            a {
                text-decoration: none;
            }

            .count {
                margin-top: 1.4rem;
            }

            .title-container {
                font-size: 8.2rem;
                line-height: 8.4rem;
            }

            .text-container {
                display: block;
                opacity: 1;
                margin-left: $column-1;
                width: $column-8;
            }

            .btn-positioner {
                position: static;
                float: none;
                margin-left: $column-1;
                margin-top: 2rem;
            }

            .btn-container {
                display: block;
                opacity: 1;
            }

            &:hover {
                color: #000000 !important;
    
                .title-container {
                    font-size: 8.2rem;
                    line-height: 8.4rem;
                    margin-top: 0;
                }
    
                .text-container {
                    display: block;
                    animation: none;
                }
    
                .btn-container {
                    display: block;
                    animation: none;
                }
    
                .btn-positioner {
                    animation: none;
                }
            }
        }

    }

    .home-team {

        .image-container {
            display: block;
            width: 100%;
        }


        .content-container {
            display: block;
            margin: 5rem auto;
        }

    }

    .home-verhaal-in-de-kijker {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .home-meer-verhalen {
        .section-title-container {
            display: block;
            width: 95%;
            transform: none;
            margin-left: 5%;
            h2 {
                transform: none;
            }
        }

        .verhalen-container {
            margin-left: 5%;
            margin-top: 5rem;
            width: 95%;
        }

        .verhalen-owl-custom-navigation-container {
            #verhalen-owl-nav {
                padding-left: 0;
            }

            .btn-positioner {
                width: calc(100% - 75px);
            }
        }
    }

    .home-events {
        .content-container {
            display: block;
            width: $column-12;
           
            .text-container {
                width: $column-6;
                margin-left: $column-1;
            }
        }

        .events-container {
            width: $column-12;
            margin-top: 5rem;
            padding-top: 0;

            .event {
                width: $column-12;
                padding-left: $column-1;
                padding-right: $column-1;
            }
        }
        .btn-container {
            margin-left: $column-1;
        }
    }

    .over-intro {
        font-size: 8.5vw;
        line-height: 8vw;
        width: $column-8;
    }

    .dienst-intro {
        .content-container {
            .icon-container {
                margin-left: $column-2;
                img {
                    max-width: 50%;
                }
            }

            .text-container {
                width: $column-8;
            }
        }
    }

    .downloads {

        .title-container {
            margin-left: $column-3;
            width: $column-8;
        }

        .download {
            margin-left: $column-3;
            width: $column-8;
        }
    }

    .service-intro {
        .left-container {
            width: $column-3;
        }
    }

    .service-intro {
        .text-container {
            width: $column-8;
            margin-left: $column-4;
        }
    }

    .service-downloads {
        .downloads {

            .title-container {
                margin-left: $column-4;
                width: $column-8;
            }

            .download {
                margin-left: $column-4;
                width: $column-8;
            }
        }
    }

    .events-intro {
        .text-container {
            padding-left: 0;
        }
    }

    .jobs-intro {
        .text-container {
            padding-left: 0;
        }
    }

    .event-grid {
        .event {
            width: $column-10;
            display: block;
            margin-left: $column-2;

            &:nth-child(odd) {
                margin-left: $column-2;
            }

            &:nth-child(even) {
                margin-left: $column-2;
            }
        }
    }

    .jobs-grid {
        .job {
            width: $column-10;
            display: block;
            margin-left: $column-2;

            &:nth-child(odd) {
                margin-left: $column-2;
            }

            &:nth-child(even) {
                margin-left: $column-2;
            }
        }
    }

}

@media only screen and (max-width: 800px) {

    .home-intro {
        .image-container {
            display: block;
            width: $column-6;
            margin-left: $column-3;
            margin-top: 15rem;

            img {
                width: 100%;
            }
        }

        .left-container {
            display: block;
            width: $column-12;
            .text-container {
                margin-left: $column-1;
                width: $column-10;
            }
        }
    }

    .home-verhaal-in-de-kijker {

        margin-top: 15rem;

        .desktop-image {
            display: none;
        }

        .content-container {
            width: 100%;
            margin-right: 0;
        }

        .verhaal {
            margin-left: $column-1;
            width: $column-10;
            margin-top: 5rem;

            .mobile-image {
                display: block;
                width: 100%;
                margin-bottom: 2rem;
    
                img {
                    width: 100%;
                }
            }
        }
    }

    .home-diensten {
        margin-top: 15rem;
        margin-bottom: 15rem;
    }

    .nav-slide-out-container {
        width: 60%;
    }

    .over-sterke-expertise {
        
        .wrapper {
            display: flex;
            flex-direction: column-reverse;
        }

        .images-container {
            display: block;
            width: $column-10;
            margin-left: $column-1;
            margin-top: 0;

            .image-container {
                &:nth-child(odd) {
                    width: 100%;
                    transform: none;
                }

                &:nth-child(even) {
                    display: none;
                }
            }
        }

        .content-container {
            display: block;
            width: $column-10;
            margin-left: $column-1;
        }
    }

    .samenwerking-cta {

        .image-container {
            display: block;
            width: 100%;
        }

        .content-container {
            display: block;
            width: 100%;
            padding: 5rem 0;
        }

    }

    .dienst-services {
        
        width: 80%;
        margin-left: 10%;

        .row {
            display: flex;
            justify-content: center;
            white-space: normal;
            flex-wrap: wrap;
            margin-bottom: 0;
        }

        .type-positioner {
            width: 50%;
            display: block;
        }

        .type-container {
            height: 25vw;
            width: calc(100% - 2rem);
            display: block;
            margin-bottom: 2rem;
            .title-container {
                width: 80%;
                font-size: 1.6rem;
                line-height: 1.9rem;
            }
        }
    }

    .latest-story {
        white-space: normal;

        .image-container {
            width: 100%;
            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }

        }

        .content-container {
            width: 90%;
            margin: 5rem 5%;
            padding: 0;
        }
    }

    .events-intro {
        .text-container {
            width: $column-10;
            margin-left: $column-2;
            margin-top: 5rem;
        }
    }

    .jobs-intro {
        .text-container {
            width: $column-10;
            margin-left: $column-2;
            margin-top: 5rem;
        }
    }

    .vacature-intro {
        .title-container {
            width: $column-7;
        }

        .text-container {
            width: $column-10;
            margin-left: $column-1;
        }
    }

    .vacature-body {
        width: $column-10;
        margin-left: $column-1;
    }

    .legal-page {
        .title-section {
            width: $column-8;
        }
    
        .content-container {
            width: $column-11;
            margin-left: $column-1;
        }
    }

    .verhalen-terugNaarOverzicht {
        padding: 5rem 0;
    }

}

@media only screen and (max-width: 750px) {

    footer {
        .sub-footer {
            padding: 5rem 0 4rem;

            .wrapper {
                flex-wrap: wrap;
            }

            .socials {
                width: 100%;
                display: block;
                text-align: center;
                margin-left: 1rem; 

                .powered-by {
                    margin: 1.5rem 0 0.5rem 0;
                    display: block;
                    width: 100%;
                }
            }

            .links {
                display: block;
                width: 100%;
                text-align: center;

                .site-by-maister {
                    margin-right: 3.4rem;
                }
            }
        }
    }

}

@media only screen and (max-width: 700px) {

    .hero {
        .bottom-bar {

            bottom: 2rem;

            .logo-container,
            .btn-positioner {
                display: block;
            }

            .btn-positioner {
                width: 100%;
                text-align: left;
                margin-top: 2rem;
            }
        }
    }

    .home-diensten {

        .dienst {

            .title-container {
                font-size: 6.2rem;
                line-height: 6.4rem;
            }

            &:hover {
                color: #000000 !important;
    
                .title-container {
                    font-size: 6.2rem;
                    line-height: 6.4rem;
                }
            }
        }

    }

    .over-intro {
        font-size: 9.5vw;
        line-height: 9vw;
        width: $column-10;
    }

    .over-selling-points {
        margin-top: 5rem;
        .point {
            width: $column-10;
            margin-left: $column-2;
            margin-bottom: 5rem;
        }
    }

    .dienst-services {
        .type-container {
            height: 22vw;
        }
    }

    footer {

        .second-section {
            .adres-section {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                address {
                    width: 50%;
                }

                .btw {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    .form-rncwwco8ft input[type=text],
.form-rncwwco8ft input[type=email],
.form-rncwwco8ft input[type=number] {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}

.form-rncwwco8ft input[type=submit]{
    display: block;
    width: 100%;
    margin-left: 0;
}

    .service-intro {
        .text-container {
            width: $column-10;
            margin-left: $column-2;
        }

        .left-container {
            width: $column-4;
        }
    }

    .service-downloads {
        .downloads {

            .title-container {
                margin-left: $column-2;
                width: $column-10;
            }

            .download {
                margin-left: $column-2;
                width: $column-10;
            }
        }
    }

    .verhaal-intro {
        .title-container {
            width: $column-11;
        }
    }

    .verhaal-slider {
        width: $column-12;
        margin-left: 0;
    }

    #verhaal-images-owl-nav {
        margin-left: $column-2;
    }

    .verhaal-terug-overzicht-container {
    
        .btn-positioner {
            width: calc(100% - 16.666% - 80px - 16.666%);
        }
    
    }

    .partners-grid {
        .partner-positioner {
            .image-container {
                display: block;
                width: 50%;
                margin-bottom: 3rem;
            }

            .text-positioner {
                display: block;
                width: 100%;
                padding: 0;
            }
        }
    }

}

@media only screen and (max-width: 600px) {

    .hero-wrapper,
    .hero-spacer {
        display: none;
    }

    .home-main {
        .mobile-hero-text-container {
            display: none;
            font-size: 12vw;
            line-height: 11vw;
            display: block;
            text-transform: uppercase;
            margin-top: 11rem;
        }
    }

    .home-intro {
        .image-container {
            width: $column-10;
            margin-left: $column-1;
        }

        .left-container {
            width: $column-12;
            .text-container {
                margin-left: $column-1;
                width: $column-10;
            }
        }
    }

    .dienst-services {
        .type-container {
            height: 18vw;
        }
    }

    .home-diensten {
        .dienst {
            .count {
                display: block;
                margin-left: 0;
                margin-top: 0;
                opacity: .4;
            }

            .title-container {
                margin-left: 0;
                white-space: normal;
                word-break: break-all;
            }

            .text-container {
                width: $column-10;
            }
        }
    }

    .main-navigation-bar {

        .menu-link-container {
            width: calc(100% - 15rem);
        }

        .logo-container {
            width: 15rem;

            .desktop-logo {
                display: none;
            }

            .mobile-logo {
                display: block;
            }
        }
    }

    .home-team {
        .content-container {
            width: 80%;
        }
    }

    footer {

        .first-section {
            .logo-container {
                vertical-align: middle;
                img {
                    width: 50%;
                }
            }
    
            .info-container {
                vertical-align: middle;
            }
        }

    }

    footer {
        .sub-footer {

            .links {
                margin-top: 2rem;
                .legal-links {
                    a {
                        display: block;
                        margin-bottom: 1rem;
                        margin-left: 0;
                    }
                }

                .site-by-maister {
                    display: block;
                    margin-right: 0;
                    margin-top: 2rem;
                    a {
                        margin: 0;
                    }
                }
            }
        }
    }

    .nav-slide-out-container {
        width: 100%;
    }

    .dienst-intro {
        .content-container {
            .icon-container {
                margin-left: 0;
                img {
                    max-width: 50%;
                }
            }

            .text-container {
                width: $column-10;
            }
        }
    }

    .downloads {

        .title-container {
            margin-left: $column-1;
            width: $column-10;
        }

        .download {
            margin-left: $column-1;
            width: $column-10;
        }
    }

    .dienst-services {   
        width: 100%;
        margin-left: 0;
        
        .type-container {
            height: 22vw;
        }
    }

    .contact {
        .first-section {
            .title-container {
                width: $column-12;
            }
        }

        .extra-number {
            margin-bottom: 2rem;
            p {
                display: block;
            }
        }

        .downloads {
            .download {
                width: $column-12;
            }
        }
    }

    .service-intro {

        .right-container {
            display: block;
        }

        .left-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            width: $column-12;
            margin-bottom: 2rem;

            .id-container {
                margin-left: 1rem;
                margin-bottom: 0;
            }

            .icon-container {
                margin-top: 1rem;
            }
        }

        .right-container {
            width: $column-12;
        }

        .text-container {
            margin-left: $column-1;
            width: $column-11;
        }

    }

    .service-downloads {
        .downloads {

            .title-container {
                margin-left: $column-1;
                width: $column-11;
            }

            .download {
                margin-left: $column-1;
                width: $column-11;
            }
        }
    }

    .verhalen-grid {
        white-space: normal;
        margin-top: 5rem;

        .verhaal {
            width: $column-12;
            display: block;
            padding-bottom: 5rem;

            &:nth-child(odd) {
                margin: 0;
            }

            &:nth-child(even) {
                margin: 0;
            }
        }
    }

    .events-intro {
        .text-container {
            width: $column-11;
            margin-left: $column-1;
        }
    }

    .event-grid {
        .event {
            padding-right: $column-2;
        }
    }

    .event-grid {
        .event {
            width: $column-10;
            margin-left: $column-2;

            &:nth-child(odd) {
                margin-left: $column-2;
            }

            &:nth-child(even) {
                margin-left: $column-2;
            }
        }
    }

    .jobs-grid {
        .job {
            width: $column-10;
            margin-left: $column-2;

            &:nth-child(odd) {
                margin-left: $column-2;
            }

            &:nth-child(even) {
                margin-left: $column-2;
            }
        }
    }

    .verhaal-terug-overzicht-container {
        
        #verhaal-images-owl-nav {
            margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: center;
        }

        .btn-positioner {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 4rem;
        }
    
    }
}

@media only screen and (max-width: 500px) {

    .wrapper {
        width: 80%;
    }

    .hero {
        width: 80%;
        padding-top: 0;

        .hero-text-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .menu-link-container {
            width: 100%;
            text-align: right;
        }
    }

    .home-meer-verhalen {
        .verhalen-owl-custom-navigation-container {
            #verhalen-owl-nav {
                button {
                    margin-right: 1rem;
                    font-size: 2rem;
                }
            }
        }
    }

    .over-selling-points {
        margin-top: 5rem;
        .point {
            width: $column-11;
            margin-left: $column-1;
            margin-bottom: 5rem;
        }
    }

    footer {
        .first-section {
            .logo-container {
                display: block;
                width: 100%;
                padding: 5rem 0 4.5rem;
            }

            .info-container {
                display: block;
                width: 100%;
                border-left: none;
                border-top: .1rem solid $color-borders;
                padding: 5rem 0 4.5rem;
            }

            .nav-container {
                white-space: normal;
                padding: 5rem 10% 5rem 20%;
                .block {
                    width: 49%;
                }

                #third {
                    padding-left: 0;
                }

                #last {
                    text-align: left;
                    padding-left: 2rem;
                    margin-top: 1rem;
                }
            }
        }

        .newsletter-section {
            padding-top: 5rem;
            padding-bottom: 5rem;
            .content-container {
                .title-container  {
                    font-size: 3rem;
                }

                .text-container {
                    width: 80%;
                    margin: 1rem auto 0;
                    white-space: normal;
                }
            }
            .form-container {
                form {
                    width: 80%;
                }
            }
        }

        .second-section {
            .contact-section {
                .form-container {
                    width: 80%;
                    padding: 5rem 0 6rem;
                }
            }
        }

    }

    .dienst-intro {
        .content-container {
            .icon-container {
                display: block;
                margin-bottom: 2rem;
                img {
                    max-width: 100%;
                }
            }

            .text-container {
                display: block;
                width: $column-12;
            }
        }
    }

    .downloads {

        .title-container {
            margin-left: 0;
        }

        .download {
            margin-left: 0;
            width: $column-12;
        }
    }

    .partners-grid {
        .partner-positioner {
            .image-container {
                width: 100%;
                min-height: 20rem;
            }
        }
    }

}

@media only screen and (max-width: 400px) {

    .wrapper {
        width: 90%;
    }

    .hero {
        width: 90%;

        .hero-text-container {
            font-size: 11vw;
            line-height: 10vw;
        }

        .bottom-bar {
            .logo-container {
                width: 25rem;
            }
        }
    }

    .home-intro {
        .image-container {
            width: $column-12;
            margin-left: 0;
        }

        .left-container {
            width: $column-12;
            .text-container {
                margin-left: 0;
                width: $column-12;
            }
        }
    }

    .home-video-container {
        .home-video-container-inner {
            margin-left: 0;
            width: $column-12;
        }
    }

    .home-diensten {
        .dienst {
            .count {
                display: block;
                margin-left: 0;
                margin-top: 0;
                opacity: .4;
            }

            .title-container {
                white-space: normal;
                word-break: break-all;
                width: $column-12;
                font-size: 5.2rem;
                line-height: 5.4rem;
            }

            &:hover {
                .title-container {
                    font-size: 5.2rem;
                    line-height: 5.4rem;
                }
            }

            .text-container {
                width: $column-12;
                margin-left: 0;
            }

            .btn-positioner {
                margin-left: 0;
            }
        }
    }

    .home-verhaal-in-de-kijker {
        .verhaal {
            margin-left: 0;
            width: $column-12;
        }
    }

    .meer-verhalen-wrapper {
       width: 90%;
    }

    .home-events {
        .content-container {
            display: block;
            width: $column-12;
           
            .text-container {
                width: $column-12;
                margin-left: 0;
            }
        }

        .events-container {

            .event {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .btn-container {
            margin-left: 0;
        }
    }

    .over-intro {
        width: $column-12;
        font-size: 11.5vw;
        line-height: 11vw;
    }

    .over-selling-points {
        margin-top: 2rem;
        .point {
            width: $column-12;
            margin-left: 0;
            margin-bottom: 5rem;
        }
    }

    .over-sterke-expertise {
        .content-container {
            width: $column-12;
            margin-left: 0;
        }

        .images-container {
            width: $column-12;
            margin-left: 0;
        }
    }

    footer {

        .first-section {
            .nav-container {
                white-space: normal;
                padding: 5rem 10% 5rem 15%;

                #last {
                    padding-left: 1.5rem;
                }
            }
        }
        

        .second-section {
            .adres-section {
                address {
                    display: block;
                    margin: 0 auto;

                    &:first-child {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    .over-fort-lox {
        .title-container {
            margin-bottom: 5rem;
        }

        .first-section {
            .content-container {
                width: $column-12;
                margin-left: 0;
            }

            .image-container {
                margin-left: 0;
                width: $column-12;
            }
        }
    }

    .images-container {
        width: $column-12;
        margin-left: 0;
    }

    .content-container {
        width: $column-12;
        margin-left: 0;
    }

    .dienst-services {   
        width: 100%;
        margin-left: 0;
        
        .type-positioner {
            width: 100%;
        }

        .type-container {
            height: 45vw;
            margin: 0 0 2rem 0;
            width: 100%;
        }
    }

    .service-intro {

        .text-container {
            margin-left: 0;
            width: $column-12;
        }

    }


    .service-downloads {
        .downloads {

            .title-container {
                margin-left: 0;
                width: $column-12;
            }

            .download {
                margin-left: 0;
                width: $column-12;
            }
        }
    }

    .verhaal-intro {
        .title-container {
            width: $column-12;
        }

        .text-container {
            margin-left: 0;
            width: $column-12;
        }
    }

    .verhaal-body {
        white-space: normal;
        .image-container {
            margin-left: 0;
            width: $column-12;
        }

        .content-container {
            margin-left: 0;
            width: $column-12;
        }
    }

    .events-intro {
        .text-container {
            width: $column-12;
            margin-left: 0;
            padding: 0;
        }
    }

    .jobs-intro {
        .text-container {
            width: $column-12;
            margin-left: 0;
            padding: 0;
        }
    }

    .event-grid {
        .event {
            width: $column-12;
            margin-left: 0;

            &:nth-child(odd) {
                margin-left: 0;
            }

            &:nth-child(even) {
                margin-left: 0;
            }
        }
    }

    .jobs-grid {
        .job {
            width: $column-12;
            margin-left: 0;

            &:nth-child(odd) {
                margin-left: 0;
            }

            &:nth-child(even) {
                margin-left: 0;
            }
        }
    }

    .vacature-intro {
        .title-container {
            width: $column-12;
        }

        .text-container {
            width: $column-12;
            margin-left: 0;
        }
    }

    .vacature-body {
        width: $column-12;
        margin-left: 0;
    }

    .legal-page {
        .title-section {
            width: $column-12;
        }
    
        .content-container {
            width: $column-12;
            margin-left: 0;
        }
    }
}