@import url("https://use.typekit.net/bzz8wxj.css");
@import '_reset.scss';
@import '_grid.scss';
@import '_vars';
@import '_global-styles';

html, body {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    font-family: ibm-plex-sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: contain;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.main-navigation-bar-spacer {
    height: 13rem;
}

.fixed-nav-bar {
    position: fixed;
    width: 100%;
    background: #ffffff;
    top: 0;
    z-index: 9999;
}

.main-navigation-bar {
    padding: 5rem 0;
    white-space: nowrap;

    .logo-container {
        display: inline-block;
        vertical-align: middle;
        width: 29rem;

        .mobile-logo {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .navigation-container {
        @extend .ibm-plex-mono ;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 290px - 290px); // magic numbers = widths van andere containers in de bar
        text-align: center;

        span {
            margin-left: .8rem;
            margin-right: 1.1rem;
        }

        a,
        a:link,
        a:visited {
            color: #000000;
            text-decoration: none;
            padding-bottom: .5rem;
            border-bottom: .1rem solid #000000;
            transition: color 250ms ease-out, border-color 250ms ease-out;
        }

        a:hover {
            color: $color-lightgray;
            border-color: $color-lightgray;
        }
    }

    .menu-link-container {
        width: 29rem;
        text-align: right;
    }

}

.menu-link-container {
    color: $color-lightgray;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: color 250ms ease-out;

    .trigger {
        display: inline-block;
        height: 100%;

        .open {
            display: none;
        }
    }

    .text-container {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2rem;
        font-size: 1.4rem;
    }

    .icon-container {
        display: inline-block;
        vertical-align: middle;
    }

    &:hover {
        color: #000000;
    }
}

.menu-opened {
    .open {
        display: inline-block !important;
    }

    .closed {
        display: none;
    }
}

.hero-wrapper {
    z-index: 1;
    position: relative;
    white-space: nowrap;
}

.hero {
    padding-top: 5rem;
    height: 100vh;
    position: fixed;
    width: 90%;
    margin: 0 auto;
    max-width: 160rem;
    
    .hero-text-container {
        font-size: 8vw;
        line-height: 7vw;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 81px);
    }

    .menu-link-container {
        vertical-align: top;
        margin-top: 2.5rem;

        .text-container {
            font-size: 1.4rem;
            text-transform: lowercase;
        }
    }

    .bottom-bar {
        position: absolute;
        bottom: 6rem;
        white-space: nowrap;
        width: 100%;

        .logo-container {
            display: inline-block;
            vertical-align: bottom;
            width: 29rem;
            img {
                width: 100%;
            }
        }

        .btn-positioner {
            display: inline-block;
            vertical-align: bottom;
            text-align: right;
            width: calc(100% - 290px);
            .btn-container {
                display: inline-block;
            }
        }
    }
}

.hero-spacer {
    height: 100vh;
}

.home-main {
    background-color: #ffffff;
    z-index: 3;
    position: relative;
    display: block;

    .mobile-hero-text-container {
        display: none;
    }
}

.home-intro {
    white-space: nowrap;
    position: relative;

    .left-container {
        display: inline-block;
        vertical-align: top;
        width: $column-6;
        white-space: normal;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        .positioner {
            height: 100%;
            width: 0;
        }

        .title-container {
            width: 60%;
            @extend .title-81;
        }
    
        .text-container {
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin-left: $column-1;
            width: 60%;
            font-weight: 300;
            position: absolute;
            bottom: 0;

            .link-container  {
                margin-top: 5rem;
            }
        }
    }

    .image-container {
        display: inline-block;
        vertical-align: top;
        margin-left: $column-8;
        width: $column-4;
        img {
            width: 100%;
        }
    }
}

.home-video-container {
    padding: 8rem 0;
    border-bottom: 1px solid $color-lightgray;
    .home-video-container-inner {
        margin-left: $column-1;
        width: $column-10;
    
        video {
            width: 100%;
        }
    }
}

.home-diensten {
    margin-top: 23rem;
    margin-bottom: 23rem;

    a {
        color: inherit;
        text-decoration: none;
    }

    .diensten-container {
        &:hover {
            .dienst {
                color: $color-lightgray;
            }

            .active-js {
                color: #000000;
            }
        }
    }

    .dienst {
        white-space: nowrap;
        cursor: pointer;
        padding-bottom: 2rem; // rekening houden met de "/" anders vreemde overflow bug
        overflow: hidden;
        min-height: 16.4rem;
        position: relative;

        .count {
            width: $column-1;
            display: inline-block;
            vertical-align: top;
            font-size: 2.4rem;
            letter-spacing: 0.04em;
            margin-top: 3rem;
        }

        .title-container {
            font-size: 14.2rem;
            line-height: 14.4rem;
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
            transition: all 125ms ease-out;
            margin-top: 0;
            white-space: normal;
            h3 {
                white-space: normal;
            }
        }

        .text-container {
            @extend .ibm-plex-mono;
            font-size: 1.5rem;
            display: inline-block;
            width: 25%;
            line-height: 2.1rem;
            margin-top: 2.4rem;
            margin-left: 5%;
            opacity: 0;
            transition: 500ms opacity ease-out;
            display: none;
            vertical-align: middle;
            white-space: normal;
        }

        .btn-positioner {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
        }

        .btn-container {
            display: none;
            opacity: 0;
            transition: 250ms opacity 250ms ease-out;
        }

        .btn-positioner {
            right: 0;
            position: absolute;
            top: 4.8rem;
        }

        &:hover {
            color: #000000 !important;

            .title-container {
                font-size: 3.8rem;
                line-height: 4rem;
                margin-top: 2.4rem;
            }

            .text-container {
                display: inline-block;
                animation: 500ms fadeIn 100ms ease-in-out forwards;
            }

            .btn-container {
                display: inline-block;
                animation: 250ms fadeIn 100ms ease-in-out forwards;
            }

            .btn-positioner {
                animation: 250ms leftToRight 100ms ease-out forwards;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @keyframes leftToRight {
                from {
                    right: 2rem;
                }
                to {
                    right: 0;
                }
            }
        }
    }
}

.home-team {

    border-top: .1rem solid $color-borders;
    border-bottom: .1rem solid $color-borders;
    white-space: nowrap;

    .inner-wrapper {
        width: 100%;
        max-width: 160rem;
        margin: 0 auto;
    }

    .image-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        img {
            width: 100%;
        }
    }

    .content-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        text-align: middle;
        white-space: normal;
        text-align: center;
    }

    .title-container {
        font-size: 2.8rem;
        font-weight: 600;
        max-width: 250px;
        width: 80%;
        margin: 0 auto 2rem;
    }

    .text-container {
        @extend .ibm-plex-mono;
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 500;
        max-width: 300px;
        width: 80%;
        margin: 0 auto 3rem;
    }

}

.home-verhaal-in-de-kijker {
    white-space: nowrap;
    margin-top: 19rem;
    margin-bottom: 7.5rem;
    position: relative;

    a {
        color: inherit;
        text-decoration: none;
    }

    .section-title-container {
        @extend .title-81;
    }

    .content-container {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        white-space: normal;

        .title-container {
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
        }
    }

    .verhaal {
        position: absolute;
        width: $column-4;
        left: $column-1;
        bottom: 0;

        .mobile-image {
            display: none;
        }
    }

    .image-container {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        img {
            width: 100%;
        }
    }

    .btn-positioner {
        display: block;
        margin-bottom: 2.2rem;
        margin-top: 4rem;

        .first-btn {
            display: block;
            margin-bottom: 2rem;
        }
    }

}

.meer-verhalen-wrapper {
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}

.home-meer-verhalen {
    white-space: nowrap;
    border-top: 1px solid $color-borders;
    padding-top: 8rem;
    position: relative;

    .verhalen-owl-custom-navigation-container {
        border-top: 1px solid $color-borders;
        margin-top: 9rem;
        padding: 4rem 0;

        #verhalen-owl-nav {
            display: inline-block;
            vertical-align: middle;
            padding-left: 15%;
    
            button {
                appearance: none;
                -webkit-appearance: none;
                padding: 0;
                border: none;
                margin-right: 1.5rem;
                background: transparent;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .btn-positioner {
        display: inline-block;
        vertical-align: middle;
        margin-top: .8rem;
        width: calc(100% - 15% - 75px);
        text-align: right;
    }

    .owl-dots {
        display: none;
    }

    .owl-nav {
        button {
            @extend .ibm-plex-sans;
            font-size: 3.1rem;
            margin-right: 1.5rem;
            cursor: pointer;
        }
        font-size: 3.1rem;
        span {
            margin: 0 1rem;
        }
    }

    .section-title-container {
        font-size: 2rem;
        letter-spacing: .02em;
        text-transform: uppercase;
        width: 15%;
        display: inline-block;
        vertical-align: middle;
        transform: translateX(-50%);
        h2 {
            transform: rotate(-90deg);
            display: inline-block;
        }
    }

    .verhalen-container {
        width: 85%;
        display: inline-block;
        vertical-align: middle;
    }

    .verhaal {
        white-space: normal;
        padding-bottom: 1rem;
        img {
            width: 100%;
        }
        .image-container {
            margin-bottom: 2.5rem;
        }

        .title-container {
            font-size: 2rem;
            line-height: 2.3rem;
            margin-bottom: 2rem;
            width: 70%;
        }

        .text-container {
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2.1rem;
            margin-bottom: 2.5rem;
            width: 90%;
        }
    }
}

.home-events {
    background: #000000;
    color: #ffffff;
    padding-top: 9rem;
    white-space: nowrap;
    padding-bottom: 10rem;

    .content-container {
        width: 60%;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        .section-title-container {
            font-size: 4rem;
            line-height: 4.5rem;
            text-transform: uppercase;
        }

        .text-container {
            @extend .body-text;
            margin-left: 10%;
            width: 50%;
            margin-top: 6rem;
        }
    }

    .events-container {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        width: 40%;
        padding-top: 1rem;
    }

    .event {
        padding-right: 15%;
        border-bottom: 1px solid $color-borders-on-dark;
        padding-bottom: 5rem;
        margin-bottom: 3.5rem;
        .date {
            font-weight: 700;
            font-size: 2rem;
        }

        .title-container {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.3rem;
            margin-top: 1rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }

}

.home-partners {
    padding-top: 4.5rem;
    .section-title-container {
        font-weight: 700;
        @extend .ibm-plex-mono;
        font-size: 1.5rem;
        text-align: center;
    }

    .partner-slider {
        .owl-wrapper {
            display: table !important;
        }

        .owl-item {
            display: table-cell;
            float: none;
            vertical-align: middle;
            div {
              text-align: center;
            }
        }
    }

    #partners-owl-custom-controls {
        @extend .ibm-plex-sans;
        text-align: center;
        border-top: .1rem solid $color-borders;
        margin-top: 3rem;
        padding: 4rem 0;
        span {
            margin: 0 1rem;
        }
        button {
            font-size: 3.1rem;
            border: none;
            appearance: none;
            -webkit-appearance: none;
            background: transparent;
            cursor: pointer;
            &:first-child {
                margin-right: 2rem;
            }
            &:focus {
                outline: none;
            }
        }
    }

    .partner-logo {
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

footer {
    background: #ffffff;
    z-index: 2;
    position: relative;

    .first-section {

        white-space: nowrap;
        border-bottom: .1rem solid $color-borders;
        border-top: .1rem solid $color-borders;

        .logo-container {
            width: $column-3;
            display: inline-block;
            vertical-align: top;
            padding: 15rem 0 10rem;

            img {
                width: 85%;
            }
        }

        .info-container {
            width: $column-3;
            display: inline-block;
            vertical-align: top;
            border-right: .1rem solid $color-borders;
            padding: 15rem 0 13rem;

            a,
            a:link,
            a:visited {
                font-size: 2.4rem;
                color: #000000;
                text-decoration: none;
                display: block;
                transition: color 250ms ease-out;
            }

            .mail {
                margin-top: 1.5rem;
            }
        }

        .nav-container {
            display: inline-block;
            margin-left: $column-1;
            width: $column-5;
            padding: 15rem 0 13rem;

            .block {
                display: inline-block;
                vertical-align: top;
                width: 25%;
            }

            #second {
                padding-left: 5%;
            }

            #third {
                padding-left: 10%;
            }

            #last {
                text-align: right;
            }

            a.link,
            a.link:link,
            a.link:visited {
                font-size: 1.6rem;
                color: #000000;
                text-decoration: none;
                text-transform: uppercase;
                display: block;
                line-height: 2.4rem;
                transition: color 250ms ease-out;
            }

            a.link:hover,
            a.link:active {
                color: $color-lightgray;
            }
        }

    }

    .newsletter-section {
        border-bottom: .1rem solid $color-borders;
        white-space: nowrap;
        text-align: center;
        padding: 10rem 0;
        .content-container {
            border-right: 1px solid $color-borders;
            .title-container {
                text-transform: uppercase;
                @extend .ibm-plex-sans;
                font-size: 4rem;
                line-height: 4.5rem;
            }

            .text-container {
                @extend .body-text;
                margin-top: 2rem;
                font-weight: 300;

                span {
                    font-weight: 600;
                }
            }
        }

        .message-container {
            @extend .body-text;
            
            p {
                margin-top: 1rem;
            }
        }

        .form-container {
            padding: 5rem 0 0;

            form {
                width: 50%;
                margin: 0 auto;
            }
        }
    }

    .second-section {
        white-space: nowrap; 

        .adres-section {
            font-size: 1.5rem;
            line-height: 2.8rem;
            font-weight: 300;
            width: 50%;
            border-right: .1rem solid $color-borders;
            padding: 9rem 0;
            display: inline-block;
            white-space: normal;
            vertical-align: top;
    
            .title-section {
                font-weight: 600;
            }
    
            address {
                display: inline-block;
                vertical-align: top;
                width: 33%;
            }
    
            .btw {
                display: inline-block;
                vertical-align: top;
                padding-top: 2.6rem;
                width: 33%;
            }
    
            #map {
                width: 50vw;
                height: 30.7rem;
                margin-top: 9rem;
                position: absolute;
                left: 0;
                border-right: .1rem solid $color-borders;
            }
        }
    
        .contact-section {
            display: inline-block;
            white-space: normal;
            vertical-align: top;
            width: 50%;

            .form-container {
                width: 70%;
                margin: 0 auto;
                padding: 9rem 0 10rem;
            }

            .form-intro {
                font-size: 1.5rem;
                line-height: 2.8rem;
                font-weight: 300;
                margin-bottom: 4rem;
            }

            .input-block {
                margin-bottom: .5rem;
                input,
                textarea {
                    @extend .ibm-plex-mono;
                    font-size: 1.4rem;
                    
                    width: 100%;
                    padding: .9rem 1.2rem;

                    border: .1rem solid $color-borders;

                    appearance: none;
                    -webkit-appearance: none;
                    border-radius: 0;
                    overflow: auto;
                    &::placeholder {
                        color: #000000;
                    }
                    &:focus {
                        outline: none;
                    }       
                }

                textarea {
                    resize: none;
                    height: 8.6rem;
                }

                input {
                    height: 36px;
                }

                input[type=submit] {
                    background: #000000;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    border: 1px solid #000000;
                    transition: all 250ms ease-out;
                    cursor: pointer;
                    padding: 0 1.2rem .3rem;

                    &:hover {
                        background: transparent;
                        border-color: #000000;
                        color: #000000;
                    }
                }
            }
        }
    }

    .sub-footer {
        background: #000000;
        padding: 2rem 0;
        white-space: nowrap;
        z-index: 2;
        position: relative;

        .wrapper {
            display: flex;
            justify-content: space-between;
        }

        .socials {
            display: inline-block;
            vertical-align: middle;
            .social-icon-container {
                vertical-align: middle;
                display: inline-block;
                margin-right: 1rem;
                
                img {
                    transition: filter 250ms ease-in;
                }

                &:hover {
                    img {
                        filter: invert(1)
                    }
                }
            }

            .powered-by {
                margin-right: 1rem;
                a {
                    cursor: pointer;
                }

                font-size: 1.4rem;
                color: #ffffff;
                display: inline-block;
                vertical-align: middle;
                margin-left: 1rem;

                img {
                    width: 75px;
                    height: auto;
                    display: inline-block;
                    vertical-align: middle;
                    pointer-events: auto;
                }
            }
        }

        .links {
            display: inline-block;
            font-size: 1.4rem;
            text-align: right;
            // width: calc(100% - 151px);
            white-space: normal;
            a,
            a:link,
            a:visited {
                color: #ffffff;
                text-decoration: none;
                vertical-align: middle;
                margin-left: 3.4rem;
            }

            .legal-links {
                display: inline-block;
                vertical-align: middle;
            }

            .site-by-maister {
                display: inline-block;
                vertical-align: middle;
                margin-top: .3rem;
                .icon-container {
                    display: inline-block;
                    vertical-align: middle;
                }

                .text-container {
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    overflow: hidden;
                    transition: width 250ms ease-in-out;
                    p {
                        padding-left: 1rem;
                        white-space: nowrap;
                        padding-bottom: 1rem;
                        padding-top: 1rem;
                    }
                }

                &:hover {
                    .text-container {
                        width: 11.3rem;
                    }
                }
            }
        }
    }

}

.over-intro {
    font-size: 12.7rem;       
    line-height: 12.2rem;
    text-transform: uppercase;
    width: $column-7;
    padding: 5rem 0;
}

.over-selling-points {
    margin-top: 10rem;


    .point {
        width: $column-3;
        margin-left: $column-7;
        margin-bottom: 5rem;

        .title-container {
            font-size: 2.8rem;
            line-height: 3.2rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
        }
    }

}

.over-fort-lox {
    margin-top: 12rem;

    .title-container {
        @extend .title-81;
        width: $column-3;
        margin-bottom: 10rem;
    }

    .first-section {
        white-space: nowrap;
        margin-bottom: 7.5rem;

        .title-container {
            font-size: 2.8rem;
            line-height: 3.2rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 5rem;
            @extend .ibm-plex-sans;
            white-space: normal;
            width: 100%;
        }

        .text-container {
            @extend .body-text;
            @extend .ibm-plex-mono;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
        }

        .content-container {
            display: inline-block;
            margin-left: $column-1;
            width: $column-4;
        }

        .image-container {
            width: $column-6;
            margin-left: $column-1;
            display: inline-block;
            vertical-align: top;
            img {
                width: 100%;
            }
        }
    }

}

.over-sterke-expertise {
    border-top: .1rem solid $color-borders;
    white-space: nowrap;
    margin-bottom: 5rem;

    .images-container {
        width: $column-6;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: right;
        .image-container {
            display: inline-block;
            margin-bottom: 2rem;

            &:nth-child(odd) {
                width: 100%;
            }
    
            &:nth-child(even) {
                width: 60%;
            }
        }

        img {
            width: 100%;
        }
    }

    .content-container {
        width: $column-4;
        margin-left: $column-1;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;

        .text-block {
            margin-bottom: 6rem;
        }

        .title-container {
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 600;
            margin-bottom: 4rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
        }
    }

}

.over-visie-missie {
    border-top: .1rem solid $color-borders;

    article {
        width: $column-4;
        margin-left: $column-1;
        white-space: normal;
        display: inline-block;
        vertical-align: top;
        padding: 6rem 0;


        .icon-container {
            margin-bottom: 2rem;
            height: 5rem;
            width: 5rem;
            display: inline-block;
            img {
                max-height: 100%;
            }
        }

        .title-container {
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
        }

        &:first-child {
                padding-right: $column-1;
                width: $column-5;
                text-align: right;
                border-right: .1rem solid $color-borders;
        }
    }

}

.samenwerking-cta {

    background: #000000;
    color: #ffffff;
    white-space: nowrap;

    .inner-wrapper {
        width: 100%;
        max-width: 160rem;
        margin: 0 auto;
    }

    .image-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        img {
            width: 100%;
        }
    }

    .content-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        text-align: middle;
        white-space: normal;
        text-align: center;
    }

    .title-container {
        font-size: 2.8rem;
        font-weight: 600;
        max-width: 250px;
        width: 80%;
        margin: 0 auto 2rem;
    }

    .text-container {
        @extend .ibm-plex-mono;
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 500;
        max-width: 300px;
        width: 80%;
        margin: 0 auto 3rem;
    }

}

.dienst-intro {
    margin-bottom: 9rem;
    .title-container {
        font-size: 17.9rem;
        line-height: 18.7rem;
        text-transform: uppercase;
        width: $column-10;
        padding-bottom: 1rem;
        margin-bottom: 10rem;
        margin-top: 5rem;
    }

    .content-container {
        
        .icon-container {
            margin-left: $column-4;
            width: $column-1;
            display: inline-block;
            vertical-align: top;

            img {
                width: 5rem;
            }
        }
        .text-container {
            display: inline-block;
            vertical-align: top;
            font-size: 1.5rem;
            line-height: 2.8rem;
            width: $column-4;
            p {
                margin-bottom: 4rem;
            }
        }

        .btn-positioner {
            margin-top: 8.4rem;
            line-height: 1.6rem;
        }

    }

}

.downloads {

    .title-container {
        font-size: 2.8rem;
        line-height: 3.2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: $column-5;
    }

    .downloads-container {
        margin-top: 2rem;
        margin-bottom: 10rem;
    }

    .download {
        font-size: 1.5rem;
        font-weight: 300;
        width: $column-4;
        margin-left: $column-5;
        white-space: nowrap;
        border-bottom: .1rem solid $color-borders;
        transition: all 250ms ease-out;

        &:first-child {
            border-top: .1rem solid $color-borders;
        }
        
        &:hover {
            font-weight: 600;

            .icon-container {
                opacity: .5;
            }
        }

        a {
            color: #000000;
            text-decoration: none;
            padding: 1.5rem 0 2rem;
            display: inline-block;
            width: 100%;
        }

        .text-container {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 1.2rem);
            white-space: normal;
        }

        .icon-container {
            display: inline-block;
            vertical-align: middle;
            width: 1.2rem;
            img {
                width: 100%;
            }
        }
    }

}

.downloads-light {
    .download {
        border-bottom: .1rem solid $color-borders-on-dark;

        &:first-child {
            border-top: .1rem solid $color-borders-on-dark;
        }
    }
}

.dienst-services {
    margin-bottom: 8rem;
    .row {
        margin-bottom: 2rem;
        text-align: center;
    }

    .services-container {
        white-space: nowrap;
    }

    .type-positioner {
        width: $column-3;
        display: inline-block;
        white-space: normal;
        box-sizing: border-box;
    }

    .type-container {
        border: .1rem solid $color-borders;
        height: 32rem;
        position: relative;
        margin: 0 1rem;
        box-sizing: border-box;

        .title-container {
            font-size: 2rem;
            line-height: 2.3rem;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
        }

        .overlay {
            position: absolute;
            background: #000000;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 3;
            opacity: 0;
            transition: opacity 250ms ease-in-out;

            .link-positioner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }

}

.service-intro {
    margin-top: 7rem;
    white-space: nowrap;
    .left-container {
        display: inline-block;
        width: $column-5;
        white-space: normal;
        vertical-align: top;
    }

    .right-container {
        display: inline-block;
        width: $column-7;
        white-space: normal;
        vertical-align: top;
    }

    .id-container {
        @extend .title-81;
        margin-bottom: 2.5rem;
    }

    .icon-container {
        width: 3.7rem;
        img {
            width: 100%;
        }
    }

    .title-container {
        @extend .title-81;
    }

    .text-container {
        margin-top: 6rem;
        white-space: normal;
        width: $column-5;
        margin-left: $column-7;
        font-size: 1.5rem;
        line-height: 2.8rem;
        font-weight: 300;
        margin-bottom: 6rem;
    }

    .btn-positioner {
        margin-top: 6rem;
        line-height: 1.6rem;
        margin-bottom: .6rem;
    }

}

.service-downloads {
    .title-container {
        width: $column-5;
        margin-left: $column-7;
    }

    .download {
        width: $column-5;
        margin-left: $column-7;
    }
}

.latest-story-wrapper {
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}

.latest-story {
    white-space: nowrap;
    .image-container {
        width: $column-7;
        display: inline-block;
        vertical-align: bottom;
        white-space: normal;

        .mobile {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .content-container {
        margin-left: $column-1;
        width: $column-4;
        display: inline-block;
        vertical-align: bottom;
        white-space: normal;
        padding-bottom: 7rem;

        .title-container {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 3rem;
        }

        .text-container {
            @extend .body-text;
            margin-bottom: 4rem;
            font-weight: 300;
        }
    }
}

.verhalen-grid {
    white-space: nowrap;
    margin-top: 9rem;

    .row {
        margin-bottom: 10rem;
    }

    .verhaal {
        width: $column-6;
        display: inline-block;
        white-space: normal;
        vertical-align: top;

        .image-container {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &:nth-child(even) {
            margin-left: 1rem;
        }
    
        &:nth-child(odd) {
            margin-right: 1rem;
        }

        .title-container {
            font-size: 2rem;
            line-height: 2.3rem;
            width: 70%;
            margin-top: 4rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
            width: 80%;
            margin-top: 2rem;
            line-height: 2.1rem;
            margin-bottom: 2rem;
        }

        .link-container {
            a {
                @extend .ibm-plex-sans;
                font-weight: 300;
            }

            a:hover {
                font-weight: 500;
            }
        }
    }
}

.laad-meer-verhalen-btn-positioner {
    width: 100%;
    text-align: center;
    margin: 4rem 0;
}

.verhalen-terugNaarOverzicht {
    padding: 10rem 0;
    .btn-positioner {
        text-align: center;
    }
}

.contact {
    @extend .dark-section;
    padding: 7rem 0 8rem;
    min-height: calc(100vh - 134px - 680px);
    .first-section {
        white-space: nowrap;
        width: 100%;

        .title-container {
            @extend .title-81;
            width: $column-5;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
        }

        .content-container {
            width: $column-5;
            margin-left: $column-2;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            font-size: 2.4rem;
            line-height: 3.9rem;
        }
    }

    .extra-number {
        p {
            display: inline;
        }
    }

    a,
    a:link,
    a:visited {
        color: #ffffff;
        text-decoration: none;
        transition: opacity 250ms ease-in-out;
    }

    a:hover,
    a:active {
        opacity: .9;
    }

    .downloads-container {
        margin-bottom: 0;
        margin-top: 4rem;
    }

    .downloads {
        .title-container {
            display: none;
        }
    
        .download {
            width: $column-5;
            margin-left: $column-7;
        }
    }
}

.text-container {
    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    ul {
        list-style: disc;
        padding-left: 3.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    ol {
        list-style: decimal;
        padding-left: 3.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        li {
            &::before {
                content: '';
                width: 1rem;
                display: inline-block;
            }
        }
    }
}

.verhaal-intro {
    margin-top: 7rem;
    margin-bottom: 6rem;

    .title-container {
        @extend .title-81;
        width: $column-7;
    }

    .text-container {
        @extend .body-text;
        @extend .ibm-plex-mono;
        margin-left: $column-7;
        width: $column-5;
        margin-top: 1rem;
    }
    
}

.verhaal-body {
    white-space: nowrap;
    .image-container {
        width: $column-5;
        display: inline-block;
        vertical-align: top;
        white-space: normal;

        img {
            width: 100%;
            transform: translateY(10%);
            padding-bottom: 20%;
        }
    }

    .content-container {
        white-space: normal;
        width: $column-5;
        margin-left: $column-2;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        margin-bottom: 13rem;

        .title-container {
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 4rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
            margin-bottom: 6rem;
        }
    }
    
}

.verhaal-images-slider {
    margin: 8rem 0;
    overflow: hidden;
    .image-slide {
        height: 36rem;
        img {
            height: 100%;
            width: auto;
        }
    }

    .owl-item {
        img {
            width: auto !important;
        }
    }

    .owl-dots {
        display: none;
    }
}

.verhaal-terug-overzicht-container {

    .owl-nav {
        display: inline-block;
        vertical-align: middle;
    }

    .btn-positioner {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: calc(100% - 16.666% - 80px);
    }

}

#verhaal-images-owl-nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: $column-2;
    font-size: 3.1rem;
    padding: 3.5rem 0 4rem;

    button {
        appearance: none;
        -webkit-appearance: none;
        padding: 0;
        border: none;
        margin-right: 1.5rem;
        font-size: 3.1rem;
        background: transparent;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.events-intro {
    padding: 6rem 0 11rem;

    .title-container {
        @extend .title-81;
    }

    .text-container {
        @extend .body-text;
        font-weight: 300;
        width: $column-4;
        margin-left: $column-8;
        margin-top: 3rem;
        padding-left: 2rem; /* to align with grid underneath */
    }
}

.event-grid {
    padding-bottom: 11rem;
    .row {
        white-space: nowrap;
        
        &:last-child {
            .event {
                border-bottom: .1rem solid $color-borders-on-dark;
            }
        }
    }

    .event {
        width: $column-4;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 4rem;
        border-top: .1rem solid $color-borders-on-dark;
        padding-top: 3rem;
        white-space: normal;

        .date-container {
            font-size: 2rem;
            font-weight: 700;
        }

        .title-container {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-top: 1rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
            line-height: 2.1rem;
            margin-top: 2rem;
        }

        .link-container {
            margin-top: 2.5rem;
            padding-bottom: 1rem;
            a {
                @extend .ibm-plex-sans;
            }
        }

        &:nth-child(odd) {
            margin-right: 1rem;
            margin-left: $column-4;
        }

        &:nth-child(even) {
            margin-left: 1rem;
        }
    }
}

.jobs-intro {
    padding: 6rem 0 11rem;

    .title-container {
        @extend .title-81;
    }

    .text-container {
        @extend .body-text;
        font-weight: 300;
        width: $column-4;
        margin-left: $column-8;
        margin-top: 3rem;
        padding-left: 2rem; /* to align with grid underneath */
    }
}

.jobs-grid {
    padding-bottom: 15rem;
    .row {
        white-space: nowrap;
    }

    .job {
        width: $column-4;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 4rem;
        border-bottom: .1rem solid $color-borders;
        padding-top: 3rem;
        white-space: normal;

        .date-container {
            font-size: 2rem;
            font-weight: 700;
        }

        .title-container {
            font-size: 2rem;
            margin-top: 1rem;
        }

        .text-container {
            @extend .body-text;
            font-weight: 300;
            line-height: 2.1rem;
            margin-top: 2rem;
        }

        .link-container {
            margin-top: 2.5rem;
            padding-bottom: 1rem;
            a {
                @extend .ibm-plex-sans;
            }
        }

        &:nth-child(odd) {
            margin-right: 1rem;
            margin-left: $column-4;
        }

        &:nth-child(even) {
            margin-left: 1rem;
        }
    }
}


.vacature-intro {
    padding: 6rem 0 11rem;

    .title-container {
        @extend .title-81;
        width: $column-5;
    }

    .text-container {
        @extend .body-text;
        @extend .ibm-plex-mono;
        width: $column-6;
        margin-left: $column-6;
        margin-top: 3rem;
    }
}

.vacature-body {
    width: $column-6;
    margin-left: $column-6;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin-bottom: 6rem;

    .text-block {
        margin-bottom: 6rem;
    }

    .title-container {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 600;
        margin-bottom: 4rem;
    }

    .text-container {
        @extend .body-text;
        font-weight: 300;
    }
}

.nav-slide-out-container {
    width: 40vw;
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - 133px); // Magic 133: height of nav bar.
    z-index: 99999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out, height 100ms ease-in-out;

    .inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 20%;
    }

    a,
    a:link,
    a:visited {
        color: #ffffff;
        text-decoration: none;
        display: block;
        font-size: 4.7rem;
        line-height: 6.8rem;
        text-transform: uppercase;
        transition: padding-left 250ms ease-in-out;
    }

    a:hover,
    a:active {
        padding-left: 2rem;
    }
}

.slide-out {
    transform: translateX(0);
}

.hero-nav-height {
    height: calc(100% - 172px);
}

.tobe-written-js {
    opacity: 0;
}

.legal-page {
    margin-bottom: 15rem;
    margin-top: 6rem;
    .title-section {
        @extend .title-81;
        width: $column-4;
        margin-bottom: 5rem;
    }

    .content-container {
        width: $column-5;
        margin-left: $column-7;
    }

    .text-block {
        margin-bottom: 5rem;

        .text-container {
            @extend .body-text;
        }

        .title-container {
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }

    a,
    a:link,
    a:visited {
        text-decoration: underline;
        transition: opacity 250ms ease-out;
    }

    a:hover,
    a:active {
        opacity: .5;
    }

}


.thank-you-msg {
    position: fixed;
    top: 6.5rem;
    right: 5vw;
    font-size: 1.4rem;
    z-index: 10;
    color: #ffffff;
    background: #000000;
    padding: 2rem;
    animation: showMsg 250ms ease-out;
}

.partners-intro {
    margin-top: 7rem;
    margin-bottom: 6rem;
    .title-container {
        @extend .title-81;
        width: $column-7;
    }

    .text-container {
        @extend .body-text;
        @extend .ibm-plex-mono;
        margin-left: $column-7;
        width: $column-5;
        margin-top: 1rem;
    }
}

.partners-grid {
    margin-bottom: 10rem;
    margin-top: 5rem;
    .row {
        padding: 6.5rem 0;
        border-bottom: 1px solid $color-borders;
    }

    .partners-container {
        white-space: nowrap;
    }

    .image-container {
        border: 1px solid $color-borders;
        display: inline-block;
        width: 30%;
        min-height: 15rem;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .partner-positioner {
        width: $column-6;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .text-positioner {
        @extend .body-text;
        white-space: normal;
        display: inline-block;
        vertical-align: top;
        width: 70%;
        padding: 0 5rem;
    }

    .title-container {
        font-size: 2rem;
        text-transform: uppercase;
    }

    .text-container {
        font-weight: 300;
        margin-top: 1rem;
    }

    .btns-container {
        margin-top: 1rem;

        .link-container {

            a {
                border: none;
                margin-bottom: 1rem;
                @extend .ibm-plex-sans;
            }
        }

        .read-more-trigger {
            font-weight: 300;
            &:hover {
                font-weight: 600;
            }
        }
    }
}

@keyframes showMsg {
    from {
        opacity: 0;
        transform: translateX(10vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* LAPOSTE FORM STYLING */

.form-rncwwco8ft {}

.form-rncwwco8ft label {
    display: block;
    padding: .4em 0 .1em 0;
}

.form-rncwwco8ft fieldset {
    border: 0;
}

.form-rncwwco8ft fieldset label {
    display: inline;
    padding: 0 0 0 .1em;
}

.form-rncwwco8ft input[type=text],
.form-rncwwco8ft input[type=email],
.form-rncwwco8ft input[type=number] {
    @extend .ibm-plex-mono;
    font-size: 1.4rem;
    width: calc(100% - 20px - 114px);
    padding: .9rem 1.2rem;
    border: .1rem solid $color-borders;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    overflow: auto;
    height: 36px;

    &::placeholder {
        color: #000000;
    }

    &:focus {
        outline: none;
    }
}

.form-rncwwco8ft input[type=submit] {
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: 1px solid #000000;
    transition: all 250ms ease-out;
    cursor: pointer;
    padding: .9rem 1.2rem;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    height: 36px;
    margin-left: 2rem;
    border: 1px solid transparent;

    &:hover {
        background: transparent;
        border-color: #000000;
        color: #000000;
    }
}

/* client side validation */
.form-rncwwco8ft input:invalid {
    // border: 1px solid red;
}

.form-rncwwco8ft input:invalid:required {}

.form-rncwwco8ft input:valid {}

@import '_media-queries';