        {% if style is not defined %}
            {% set style = 'dark' %}
        {% endif %}
        <section class="downloads downloads-{{style}}" data-aos="fade-up">

            <div class="title-container">
                <h2>Downloads</h2>
            </div>

            <div class="downloads-container">
                {% for download in downloads %}
                                    <article class="download">
                    <a href="{{download.url}}" download>
                        <div class="text-container">
                        <p>{{download.title}}</p>
                        </div>
                        <div class="icon-container">
                            <img src="/assets/img/download-icon-{{style}}.svg" alt="">
                        </div>
                    </a>
                </article>
                {% endfor %}
            </div>

        </section>