{% set contactData = craft.entries.section('contact').one() %}
<footer>
    {% if entry != 'contact' %}
    <div class="first-section" data-aos="fade-up">

        <div class="wrapper">

            <div class="logo-container">

                <img src="/assets/img/fort-lox-logo-v2.svg" alt="Fort Lox">

            </div><div class="info-container">
                <a href="tel:{{contactData.hoofdTelefoonnummer}}">{{contactData.hoofdTelefoonnummer}}</a>
                <a href="mailto:{{contactData.emailAdres}}" class="mail">{{contactData.emailAdres}}</a>
            </div><div class="nav-container">
                <div class="block" id="block-1">
                    <a href="/over" class="link">Over</a>
                    <a href="/#aanbod" class="link">Aanbod</a>
                </div>

                <div class="block" id="second">
                    <a href="/verhalen" class="link">verhalen</a>
                    <a href="/jobs" class="link">jobs</a>
                </div>

                <div class="block" id="third">
                    <a href="/opleidingen-en-events" class="link">academy</a>
                    <a href="/contact" class="link">contact</a>
                </div>

                <div class="block" id="last">
                    {% set text = 'support' %}
                    {% set url = '/contact' %}
                    {% include '_components/button.twig' %}
                </div>
            </div>

        </div>

    </div>
    {% endif %}
        <div class="newsletter-section" id="newsletter">
            <div class="wrapper">
            <div class="content-container">
        <div class="title-container typewriter-js">
            <h2>Nieuwsbrief /</h2>
        </div>
        <div class="text-container">
            <p>Blijf op de hoogte van al het <span>FORT:LOX</span> nieuws</p>
        </div>
        </div><div class="form-container">
                <form method="post" action="https://fortlox.email-provider.nl/subscribe/post/index.php" accept-charset="utf-8" class="form-rncwwco8ft">
                <input type="hidden" name="next" value="https://www.fortlox.be/?form=newsletter&amp;value=succes#newsletter" />
                <input type="hidden" name="a" value="5hyaqyynxp" />
                <input type="hidden" name="l" value="rncwwco8ft" />
                {# <label for="id-Lz7ihBwkIe">E-mailadres&nbsp;*</label> #}
                <input name="Lz7ihBwkIe" id="id-Lz7ihBwkIe" type="email" placeholder="Email *" required>
                <input autocomplete="new-password" type="email" id="email" name="email" placeholder="Your e-mail here" style="position:absolute;top:-9999px;left:-9999px;">
                <input type="submit" value="Aanmelden" />
                                <div class="message-container">

                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="second-section" data-aos="fade-up">
        <h2 class="hidden">Contact</h2>
        <div class="wrapper">

            <div class="adres-section">

                <address>
                    <div class="title-section">
                        <h3>Maatschappelijke zetel</h3>
                    </div>
                    <div class="text-section">
                        <p>Schaapbruggestraat 48a</p>
                        <p>8800 Roeselare</p>
                    </div>
                </address>

                <address>
                    <div class="title-section">
                        <h3>Kantoor Roeselare</h3>
                    </div>
                    <div class="text-section">
                        <p>Schaapbruggestraat 48a</p>
                        <p>8800 Roeselare</p>
                    </div>
                </address>

                <div class="btw">
                    <p>{{contactData.btwNummer}}</p>
                </div>

                <div id="map">
                </div>

            </div>

            <div class="contact-section">
                <div class="form-container">
                    <div class="form-intro">
                        Heb je vragen over onze diensten of wil je graag een offerte? Contacteer ons en we komen snel
                        bij je terug.
                    </div>
                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="action" value="contact-form/send">
                        {{ redirectInput('?message=sent') }}
                        <div class="input-block">
                            <input type="text" placeholder="Naam + Voornaam *" name="fromName" required>
                        </div>

                        <div class="input-block">
                            <input type="email" placeholder="Email *" name="fromEmail" required>
                        </div>

                        <div class="input-block">
                            <input type="phone" placeholder="Telefoon *" name="message[telefoon]" required>
                        </div>

                        <div class="input-block">
                            <input type="hidden" class="subject" name="message[info]" placeholder="Onderwerp">
                        </div>

                        <div class="input-block">
                            <textarea id="" cols="30" rows="10" placeholder="Bericht" name="message[body]"></textarea>
                        </div>

                        <div class="input-block">
                            <input type="submit" value="verzend">
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>

    <div class="sub-footer">
        <div class="wrapper">
            <div class="socials">
                <div class="social-icon-container">
                    <a href="https://www.facebook.com/FortLox/">
                        <img src="/assets/img/facebook-icon.svg" alt="Facebook">
                    </a>
                </div>

                <div class="social-icon-container">
                    <a href="https://www.linkedin.com/company/fort-lox?trk=similar-pages_result-card_full-click">
                        <img src="/assets/img/linkedin-icon.svg" alt="Facebook">
                    </a>
                </div>
{# 
                <div class="social-icon-container">
                    <a href="">
                        <img src="/assets/img/twitter-icon.svg" alt="Facebook">
                    </a>
                </div> #}

                <div class="social-icon-container">
                    <a href="https://www.instagram.com/fort.lox/">
                        <img src="/assets/img/instagram-icon.svg" alt="Instagram">
                    </a>
                </div>

                <div class="powered-by">
                    <a href="https://www.conxion.be/" target="_blank">
                        Powered by <img src="/assets/img/ConXioN.svg" alt="Powered by ConXioN">
                    </a>
                </div>
            </div>

            <div class="links">
                <div class="legal-links">
                    {# <a href="/algemene-voorwaarden">Algemene Voorwaarden</a> #}
                    {# <a href="/privacyverklaring">privacyverklaring</a> #}
                    <a href="/legal/cookie-verklaring">Cookieverklaring</a>
                    <a href="/legal/privacy-policy">Privacy Policy</a>
                    {# <a href="/fr">Francais</a> #}
                </div>
                <div class="site-by-maister">
                <a href="https://www.maister.be/?utm_source=site-by-maister&amp;utm_medium=referal&amp;utm_campaign=fortlox">
                    <div class="icon-container">
                        <img src="/assets/img/icon-maister.svg" alt="">
                    </div>
                    <div class="text-container">
                        <p>site by maister</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>

</footer>