<nav class="main-navigation-bar {% if entry != 'home' %}fixed-nav-bar {% endif %} ">
    <div class="wrapper">
        <h2 class="hidden">Navigation</h2>
        <div class="logo-container">
            <a href="/">
                <img src="/assets/img/fort-lox-logo.svg" alt="Fort Lox" class="desktop-logo">
                <img src="/assets/img/fort-lox-logo-v2.svg" alt="Fort Lox" class="mobile-logo">
            </a>
        </div>

        <div class="navigation-container">
            <a href="/contact" class="add-slash--right">Contact</a><span>/</span><a href="/contact"
                class="add-slash--right">Support</a><span>/</span><a href="tel:0050642131">+32(0)50 642 131</a>
        </div>

        <div class="menu-link-container">
            {% include '_components/menu-link.twig' %}
        </div>
    </div>
</nav>

<div class="main-navigation-bar-spacer"></div>