<div class="nav-slide-out-container dark-section">

    <div class="inner">
        <a href="/over">Over /</a>
        <a href="/#aanbod">Aanbod /</a>
        <a href="/verhalen">Verhalen /</a>
        <a href="/jobs">Jobs /</a>
        <a href="/opleidingen-en-events">Academy /</a>
        <a href="/partners">Partners /</a>
        <a href="/contact">Support /</a>
        <a href="/contact">Contact :</a>
    </div>

</div>