    <section class="samenwerking-cta">
        <div class="inner-wrapper">
            <div class="image-container" data-aos="fade-up">
                <img src="/assets/img/_RM39063.jpg" alt="Team">
            </div>

            <div class="content-container" data-aos="fade-up">
                <div class="title-container">
                    <h2>Interesse in een samenwerking?</h2>
                </div>

                <div class="text-container">
                    <p>We horen graag hoe we je van dienst kunnen zijn.</p>
                </div>

                {% set text = 'Neem contact op' %}
                {% set url = '/contact' %}
                {% set style = 'white' %}
                {% include '_components/button' %}

            </div>
        </div>
    </section>