<article class="event" data-aos="fade-up">
                    {% if date is not empty %}
                    <div class="date" >
                        <p>{{date}}</p>
                        <span>-</span>
                    </div>
                    {% endif %}
                    <div class="title-container">
                        <h3>{{title}}</h3>
                    </div>
                    <div class="text-container">
                        <p>{{text}}</p>
                    </div>
                    {% if url is not empty %}
                    {% set text = 'Ontdek meer >' %}
                    {% set style =  'white' %}
                    {% include '_components/link'%}
                    {% endif %}
                </article>