<a href="{{dienstUrl}}">
<div class="dienst" data-aos="fade-up">
    <div class="count">
        {% if count < 10 %}
            <p>0{{count}}</p>
        {% else %}
            <p>{{count}}</p>
        {% endif %}
    </div>
    <div class="title-container typewriter-js">
        <h3>{{title}}</h3>
    </div>
    <div class="text-container">
        {{text}}
    </div>
    <div class="btn-positioner">
        {% set text = 'Meer weten >' %}
        {% include '_components/button' %}
    </div>
</div>
</a>