
                    <div class="verhaal">
                                        <a href="{{url}}">
                        <div class="image-container">
                            <img src="{{imageUrl}}" alt="">
                        </div>
                        <div class="title-container">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="text-container">
                            <p>{{text}}</p>
                        </div>
                        {% set text = 'Lees het verhaal >' %}
                        {% include '_components/link'%}
                        </a>
                    </div>