{% if style is not defined %} 
{% set style = 'dark' %}
{% endif %}

{% if link is not defined %} 
    {% set link = true %}
{% endif %}

{% if newPage is not defined %}
    {% set newPage = false %}
{% endif %}
<div class="link-container link-container--{{style}}">
    
    {% if link %}
        <a href="{{url}}" {% if newPage %} target="_blank" {% endif %}>
    {% else %}
        <p>
    {% endif %}
        {{text}}
    {% if link %}
    </a>
    {% else %}
    </p>
    {% endif %}
</div>