        <div class="trigger">
            <div class="text-container">
                <p>menu</p>
            </div>
            <div class="icon-container">
                <img src="/assets/img/lock-icon.svg" alt="Lock Icon | Menu" class="closed">
                <img src="/assets/img/lock-icon-open.svg" alt="Lock Icon Open | Menu" class="open">
            </div>
        </div>