<div class="partner-positioner" data-aos="fade-up">
    <article>
        <div class="partner-container">
            <div class="image-container">
                <img src="{{logo.url}}" alt="{{title}}">
            </div>
            <div class="text-positioner">
                <div class="title-container">
                    <h3>{{title}}</h3>
                </div>
                <div class="text-container">
                    <p class="original-text">{{text}}</p>
                </div>
                <div class="btns-container">
                    {% set text = urlText %}
                    {% set url = url %}
                    {% set newPage = true %}
                    {% include '_components/link'%}
                </div>
            </div>
        </div>
    </article>
</div>