                            <div class="type-positioner" data-aos="fade-up">
                <article class="type-container type-container-1">

                    <a href="{{url}}" class="overlay">
                        <div class="link-positioner">
                            {% set text = 'Meer info >' %}
                            {% set style = 'white'%}
                            {% set link = false %}
                            {% include '_components/link'%}
                        </div>
                    </a>

                    <div class="title-container">
                        <h3>{{title}}</h3>
                    </div>

                </article>
            </div>