<!DOCTYPE html>
<html lang="nl">
<head>
	<meta name="msvalidate.01" content="2022BAAA1D22E7881F7A03F2259B630A" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{# SEO Start #}
	{# Tip: You can pass the handle of your SEO field - getSeoField('mySeoFieldHandle') #}
	{% set seo = entry.seo %}
	{% if seo is null or seo.title == '' %}
		{% set seo = craft.seo.custom(siteName, '', false) %}
	{% endif -%}

	{% set locale = craft.app.locale %}
	{% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}

	<title>{{ seo.title }}</title>
	<meta name="description" content="{{ seo.description }}" />

	{% set fb = seo.social.facebook -%}
	<meta name="norton-safeweb-site-verification" content="qgesotyqbfx9z9h0-rig4dvj8mfx-rnpxo-wk3rn1xbxr7tga529xv110xyc6s8d7-9yxgw4ttz4m4ozv2jyb08zqo93wlm7gm-b6qc1une8uagl1dnqsitm3c9hc8ca" />
	<meta property="fb:app_id" content="{{ fb.handle }}">
	<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ fb.title }}" />
	<meta property="og:image" content="{{ craft.seo.facebookImage(fb.image) }}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:description" content="{{ fb.description }}" />
	<meta property="og:site_name" content="{{ siteName }}" />
	<meta property="og:locale" content="{{ locale|replace('-', '_') }}" />
	{% for locale in locales -%}
		<meta property="og:locale:alternate" content="{{ locale|replace('-', '_') }}" />
	{% endfor %}

	{% set tw = seo.social.twitter -%}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{{ tw.handle }}" />
	<meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
	<meta name="twitter:title" content="{{ tw.title }}" />
	<meta name="twitter:description" content="{{ tw.description }}" />
	<meta name="twitter:image" content="{{ craft.seo.twitterImage(tw.image) }}" />

	{% if seo.robots -%}
		<meta name="robots" content="{{ seo.robots }}" />
	{% endif %}
	{%- if seo.expiry -%}
		<meta name="robots" content="unavailable_after: {{ seo.expiry }}" />
	{% endif %}

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="canonical" href="{{ seo.canonical }}">
{# SEO End #}


    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/assets/css/screen.css">
    <link rel="stylesheet" href="/assets/css/vendors/owl.carousel.min.css">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />


    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    {% include '_components/GA'%}

	<!-- Hotjar Tracking Code for https://www.fortlox.be/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2626260,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<body>
    <h1 class="hidden">Fort Lox</h1>
    {% if entry != 'home' %}
        {% include '_layouts/main-navigation-bar' %}
    {% endif %}

    {% include '/_layouts/nav-slide-out.twig' %}

    {% block body %}
    {% endblock %}

    {% include '_layouts/footer.twig' %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/assets/js/vendors/owl.carousel.min.js"></script>
    <script src="/assets/js/owl-carousel-init.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
    <script src="/assets/js/mapbox-init.js"></script>
    <script src="/assets/js/slide-out-nav.js"></script>
	<script src="/assets/js/partners-read-more.js"></script>

    <script src="/assets/js/typewriter.js"></script>
	<script src="/assets/js/form.js"></script>
	<script src="/assets/js/newsletter.js"></script>

    {% if entry == 'home' %}
        {# <script src="/assets/js/smooth-scroll.js"></script> #}
        <script src="/assets/js/home-header.js"></script>
        <script src="/assets/js/diensten-hover-min.js"></script>
    {% endif %}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>