{% extends '_base.twig' %}

{% set pageTitle = 'Fort:Lox | ' ~ entry %}

{% block body %}

<div class="wrapper">

    <section class="dienst-intro">

        <div class="title-container typewriter-js" data-aos="fade-right">
        {% set entryIds = craft.entries.section('diensten').orderBy('postDate asc').ids() %}
        {% set position = '' %}
        {% for key, value in entryIds if value == entry.id %}
            {% set position = key + 1 %}
        {% endfor %}
        
        {% if position < 10 %}
            <h1>0{{ position }}/<br />{{entry.title}}</h1>
        {% else %}
            <h1>{{ position }}/<br />{{entry.title}}</h1>
        {% endif %}
        </div>

        <div class="content-container" data-aos="fade-left">
            <div class="icon-container">
                <img src="{{entry.dienstIcon.one().url}}" alt="{{entry.dienstIcon.one().alt}}">
            </div>

            <div class="text-container">
                {{entry.dienstText}}

                {% if entry.toonVraagMeerInfo %}
                    <div class="btn-positioner">
                        {% set text = 'vraag meer info' %}
                        {% set url = '/contact?moreinfo=' ~ entry.slug %}
                        {% include '_components/button' %}
                    </div>
                {% endif %}
            </div>
        </div>

    </section>

    {% if entry.downloads|length > 0 %}
        {% set downloads = entry.downloads.all() %}
        {% include '_layouts/downloads.twig' %}
    {% endif %}


</div>

<div class="wrapper">

    <section class="dienst-services">
        <h2 class="hidden">Services</h2>
        <div class="services-container">
            {% set count =  0 %}
            {% for service in entry.services.all() %}
                {% if count  == 0 %}
                    <div class="row">
                {% endif %}
                
                {% if service.id != entry.id %}
                    {% set title = service.title %}
                    {% set url = service.url %}
                    {% include '_components/service-block.twig' %}
                    {% set count = count + 1 %}
                {% endif %}

                {% if count == 4 or loop.last %}
                    </div><!-- end of row -->
                    {% set count = 0 %}
                {% endif %}
            {% endfor %}

        </div>

    </section>

</div>

{% include '_layouts/samenwerking-cta.twig' %}

{% endblock %}