{% set pageTitle = entry.title %}
{% extends '_base' %}

{% block body %}

    <section class="legal-page" id="{{ entry.title }}">
        <div class="wrapper">
        <div class="title-section typewriter-js">
            <h2>{{entry.title}}</h2>
        </div>

        <div class="content-container">

                        {% for textBlock in entry.textblocks.all() %}


            <article class="text-block" data-aos="fade-up">
                {% if textBlock.titel is not empty %}
                <div class="title-container" data-aos="fade-up">
                    <h3>{{textBlock.titel}}</h3>
                </div>
                {% endif %}

                <div class="text-container" data-aos="fade-up">
                    {{textBlock.tekst}}
                </div>
            </article>


            {% endfor %}
        
        </div>
        </div>

    </section>

{% endblock %}