{% set pageTitle = 'Fort:Lox | ' ~ entry %}

{% extends '_base.twig' %}

{% block body %}

        {% set entryIds = craft.entries.section('diensten').orderBy('postDate asc').ids() %}
        {% set parentPosition = '' %}
        {% for key, value in entryIds if value == entry.serviceParent.one().id %}
            {% set parentPosition = key + 1 %}
        {% endfor %}

        {% set servicesByParent = entry.serviceParent.one().services.all() %}
        {% set count = 0 %}
        {% set childPosition = 0 %}
        {% for service in servicesByParent %}
            {% set count = count + 1 %}
            {% if service.id == entry.id %}
                {% set childPosition = count %}
            {% endif %}
        {% endfor %}

<div class="wrapper">

    <section class="service-intro">
        <div class="left-container" data-aos="fade-up">
            <div class="id-container typewriter-js">
                <p>
                {% if parentPosition < 10 %}0{{ parentPosition }}{% else %}{{ parentPosition }}{% endif %}.{% if childPosition < 10 %}0{{ childPosition }}{% else %}{{ childPosition }}{% endif %} /
                </p>
            </div>
            <div class="icon-container">
                <img src="{{entry.serviceParent.one().dienstIcon.one().url}}" alt="{{entry.serviceParent.one().dienstIcon.one().alt}}">
            </div>
        </div>
        <div class="right-container" data-aos="fade-up">
            <div class="title-container typewriter-js">
                <h2>{{entry.detailTitel}}</h2>
            </div>
        </div>

        <div class="text-container" data-aos="fade-up">
            {{entry.tekst}}
                                <div class="btn-positioner" data-aos="fade-up">
                        {% set text = 'Vraag meer info' %}
                        {% set url = '/contact?moreinfo=' ~ entry %}
                        {% include '_components/button' %}
                    </div>
        </div>
    </section>

    <div class="service-downloads">
        {% if entry.serviceDownloads|length > 0 %}
        {% set downloads = entry.serviceDownloads.all() %}
        {% include '_layouts/downloads.twig' %}
    {% endif %}
    </div>


</div>
<div class="wrapper">

    <section class="dienst-services">
        <h2 class="hidden">Services</h2>
        <div class="services-container">
            {% set count = 0 %}
            {% set rowDivOpened = false %}
            {% for service in entry.serviceParent.one().services.all() %}
                {% if count == 0 and not rowDivOpened %}
                    <div class="row">
                    {% set rowDivOpened = true %}
                {% endif %}
                
                {% if service.id != entry.id %}
                    {% set title = service.title %}
                    {% set url = service.url %}
                    {% include '_components/service-block.twig' %}
                    {% set count = count + 1 %}
                {% endif %}

                {% if count == 4 or loop.last %}
                    </div><!-- end of row -->
                    {% set rowDivOpened = false %}
                    {% set count = 0 %}
                {% endif %}
            {% endfor %}

        </div>

    </section>

</div>

{% include '_layouts/samenwerking-cta.twig' %}

{% endblock %}