{% set pageTitle = 'Fort:Lox | ' ~ entry %}

{% extends '_base' %}

{% block body %}

<section class="vacature-intro">
    <div class="wrapper">

        <div class="title-container typewriter-js" data-aos="fade-up">
            <h1>{{entry.title}}</h1>
        </div>

        <div class="text-container" data-aos="fade-up">
            <p>{{entry.korteOmschrijving}}</p>
        </div>
    </div>


</section>

<div class="wrapper"> 
<section class="vacature-body">
     {% for textBlock in entry.textblocks.all() %}


            <article class="text-block">
                <div class="title-container" data-aos="fade-up">
                    <h2>{{textBlock.titel}}</h2>
                </div>

                <div class="text-container" data-aos="fade-up">
                    {{textBlock.tekst}}
                </div>
            </article>


            {% endfor %}
</section>
</div>

{% include '/_layouts/samenwerking-cta' %}

{% endblock %}