{% set pageTitle = 'Fort:Lox | ' ~ entry %}

{% extends '_base' %}

{% block body %}

<div class="wrapper">

    <section class="verhaal-intro">

        <div class="title-container typewriter-js" data-aos="fade-up">
            <h1>{{entry.langeTitel}}</h1>
        </div>

        <div class="text-container" data-aos="fade-up">
            {{entry.verhaalIntro}}
        </div>

    </section>

    <section class="verhaal-body">

        <div class="image-container" data-aos="fade-up">
            <img src="{{entry.verhaalAfbeeldingen.one().url}}" alt="{{entry.verhaalAfbeeldingen.one().alt}}">
        </div>

        <div class="content-container">
            {% for textBlock in entry.textblocks.all() %}


            <article class="text-block" data-aos="fade-up">
                <div class="title-container" data-aos="fade-up">
                    <h3>{{textBlock.titel}}</h3>
                </div>

                <div class="text-container" data-aos="fade-up">
                    {{textBlock.tekst}}
                </div>
            </article>


            {% endfor %}
        </div>

    </section>

</div>

{% set images = entry.verhaalAfbeeldingen.all()|slice(1) %}

{% if images|length > 0 %}

<div class="line"></div>

<div class="full-screen-wrapper">
    <section class="slider verhaal-slider" data-aos="fade-up">
        <div class="owl-carousel verhaal-images-slider">
            {% for image in images %}
            <div class="image-slide"> <img src="{{image.getUrl('verhaalSlider')}}" alt="{{image.alt}}"></div>
            {% endfor %}
        </div>
    </section>

</div>

<div class="line" data-aos="fade-up"></div>

<div class="full-screen-wrapper" data-aos="fade-up">
    <div class="verhaal-terug-overzicht-container">
        {% if images|length > 3 %}
        <div class="owl-nav" id="verhaal-images-owl-nav">
        </div>
        <div class="btn-positioner">
            {% set text = 'Terug naar het overzicht' %}
            {% set url = '/verhalen' %}
            {% include '_components/button' %}
        </div>
        {% endif %}
    </div>
</div>

{% endif %}

{% if entry.toonTerugNaarOverzichtKnop %}
<section class="verhalen-terugNaarOverzicht" data-aos="fade-up">
            <div class="btn-positioner">
            {% set text = 'Terug naar het overzicht' %}
            {% set url = '/verhalen' %}
            {% include '_components/button' %}
        </div>
</section>
{% endif %}

{% endblock %}